<!DOCTYPE html>
<html lang="zh-Hant-TW">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>購物車內容｜三三吾鄉手工皂Trisoap</title>
        <meta name="author" content="2017 Trisoap Team">
        <meta property="og:title" content="購物車內容｜三三吾鄉手工皂 Trisoap" >
        <meta property="og:url" content="https://www.trisoap.com.tw">
        <meta property="og:image" content="resource/img/index/index01.jpg">
        <link rel="shortcut icon" href="resource/img/misc/favicon.png">
        <link rel="stylesheet" href="resource/dist/css/user_function.css">
    </head>
    <body>
        <div class="sign-wrap">
            <div class="sign text-center">
                <h2>您的購物車</h2>
                [cartContent]
                <hr class="text-sep-sm">
                <div class="sign-block">
                    <p>目前全館滿777即可享臺灣本島免運費！</p>
                    <a class="promise-btn" href="index.php?route=soap">前往單品</a>
                    <a class="promise-btn" href="index.php?route=soapstring">旅用皂絲</a>
                    <a class="neural-btn" href="index.php">返回首頁</a>
                </div>
            </div>
        </div>
        <script src="resource/dist/js/view/user_function.js"></script>
    </body>
</html>