                    <div class="sign-block">
                        <table>
                            <thead>
                                <tr>
                                    <td>商品名稱</td>
                                    <td>單價(NTD)</td>
                                    <td>數量</td>
                                    <td>金額(NTD)</td>
                                    <td>選項</td>
                                </tr>
                            </thead>
                            <tbody>
                                [cartOperate]
                            </tbody>
                        </table>
                    </div>
                    <div class="sign-block">
                        <a class="promise-btn" href="index.php?route=pay&order=cart">確定結帳</a>
                    </div>
