        <main>
            <div class="sign-wrap">
                <div class="sign text-center">
                    <h2>您的購物車</h2>
                    [cartContent]
                    <hr class="text-sep-sm">
                    <div class="sign-block">
                        <p>目前全館滿777即可享臺灣本島免運費！</p>
                        <a class="promise-btn" href="index.php?route=products">繼續選購</a>
                        <a class="neural-btn" href="index.php">返回首頁</a>
                    </div>
                </div>
            </div>
        </main>
