                    <div class="sign-block">
                        <table>
                            <thead>
                                <tr>
                                    <th>商品名稱</th>
                                    <th>單價(NTD)</th>
                                    <th>數量</th>
                                    <th>金額(NTD)</th>
                                    <th>選項</th>
                                </tr>
                            </thead>
                            <tbody>
                                [cartOperate]
                            </tbody>
                        </table>
                    </div>
                    <div class="sign-block">
                        <a class="promise-btn" href="index.php?route=pay&order=cart">確定結帳</a>
                    </div>
