        <main>
            <div class="sign-wrap">
                <div class="sign text-center">
                    <h2>更換折價券</h2>
                    <div class="sign-block">
                        <label for="index">請輸入兌換碼</label>
                        <br>
                        <input type="text" id="index">
                    </div>
                    <div class="sign-block">
                        <a class="promise-btn" href="javascript:void(0)" onclick="discountApply()">確定</a>
                        <a class="neural-btn" href="index.php">返回首頁</a>
                    </div>
                </div>
            </div>
        </main>
