        <main>
            <div class="sign-wrap">
                <div class="sign text-center">
                    <h2>會員資料修改</h2>
                    <div class="sign-block">
                        <p>電子信箱：[member_email]</p>
                    </div>
                    <div class="sign-block">
                        <label for="name">您的姓名</label>
                        <br>
                        <input type="text" id="name" value="[member_name]">
                    </div>
                    <div class="sign-block">
                        <label for="phone">聯絡電話</label>
                        <br>
                        <input type="phone" id="phone" value="[member_phone]">
                    </div>
                    <div class="sign-block">
                        <label for="address">聯絡地址（選填）</label>
                        <br>
                        <input type="text" id="address" value="[member_address]">
                    </div>
    				<div class="sign-block">
                        <label for="taxid">統一編號（選填）</label>
                        <br>
                        <input type="text" id="taxid" value="[member_taxid]">
                    </div>
                    <div class="sign-block">
                        <label for="notice">備註（選填）</label>
                        <br>
                        <textarea id="notice" value="[member_notice]"></textarea>
                    </div>
                    <div class="sign-block">
                        <a class="promise-btn" href="javascript:void(0)" onclick="memberEdit()">確定</a>
                        <a class="neural-btn" href="index.php">取消</a>
                    </div>
                </div>
            </div>
        </main>
