<!DOCTYPE html>
<html lang="zh-Hant-TW">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>登入｜三三吾鄉手工皂Trisoap</title>
        <meta name="author" content="2017 Trisoap Team">
        <meta property="og:title" content="{title}｜三三吾鄉手工皂 Trisoap" >
        <meta property="og:url" content="https://www.trisoap.com.tw">
        <meta property="og:image" content="resource/img/index/index01.jpg">
        <link rel="shortcut icon" href="resource/img/misc/favicon.png">
    </head>
    <body>
        <div class="sign-block">
            <h1>登入</h1>
            <input type="text" placeholder="電子信箱" id="account">
            <input type="password" placeholder="密碼" id="password">
            <button class="promise" onclick="memberSignin()">登入</button>
            <a href="index.php?route=member&in=signup">
                <button class="promise">立即註冊</button>
            </a>
            <a href="index.php">
                <button type="button" class="cancel">取消</button>
            </a>
            <a href="index.php?route=member&in=resetPassword">
                <button class="cancel">忘記密碼</button>
            </a>
        </div>
    </body>
</html>