        <main>
            <div class="sign-wrap">
                <div class="sign text-center">
                    <h2>會員資料增加</h2>
                    <div class="sign-block">
                        <p>電子信箱：[member_email]</p>
                    </div>
                    <div class="sign-block">
                    	<p>您的姓名：[member_name]</p>
                    </div>
                    <div class="sign-block">
                        <label for="phone">聯絡電話</label>
                        <br>
                        <input type="text" id="phone" value="[member_phone]">
                    </div>
                    <div class="sign-block">
                        <label for="birth">生日 ex.(2000-03-03)</label>
                        <br>
                        <input type="text" id="birth">
                    </div>
                    <div class="sign-block">
                        <label for="sex">性別</label>
                        <br>
                        <select id="sex">
                            <option selected disabled value="請選擇"></option>
                            <option value="M">男</option>
                            <option value="F">女</option>
                        </select>
                    </div>
    				<div class="sign-block">
                        <label for="skintype">膚質</label>
                        <br>
                        <select id="skintype">
                            <option selected disabled value="請選擇"></option>
                            <option value="A">乾性</option>
                            <option value="B">中性</option>
                            <option value="C">油性</option>
                            <option value="D">混和性</option>
                        </select>
                    </div>
                    <div class="sign-block">
                        <label for="knowtype">如何認識三三</label>
                        <br>
                        <select id="knowtype">
                            <option selected disabled value="請選擇"></option>
                            <option value="A">粉絲專頁</option>
                            <option value="B">親友介紹</option>
                            <option value="C">媒體宣傳</option>
                            <option value="D">實體攤位</option>
                            <option value="E">其它</option>
                        </select>
                    </div>
                    <div class="sign-block">
                        <a class="promise-btn" href="javascript:void(0)" onclick="memberAdddata()">確定</a>
                        <a class="neural-btn" href="index.php">取消</a>
                    </div>
                </div>
            </div>
        </main>
