<!DOCTYPE html>
<html lang="zh-Hant-TW">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>修改密碼｜三三吾鄉手工皂Trisoap</title>
        <meta name="author" content="2017 Trisoap Team">
        <meta property="og:title" content="修改密碼｜三三吾鄉手工皂 Trisoap" >
        <meta property="og:url" content="https://www.trisoap.com.tw">
        <meta property="og:image" content="resource/img/index/index01.jpg">
        <link rel="shortcut icon" href="resource/img/misc/favicon.png">
        <link rel="stylesheet" href="resource/dist/css/user_function.css">
    </head>
    <body>
        <div class="sign-wrap">
            <div class="sign text-center">
                <h2>修改密碼</h2>
                <div class="sign-block">
                    <label for="ori_password">請輸入舊密碼</label>
                    <br>
                    <input type="password" id="ori_password">
                </div>
                <div class="sign-block">
                	<p>密碼限定使用英數字，長度上限為15字元</p>
                    <label for="new_password1">請輸入新密碼</label>
                    <br>
                    <input type="password" id="new_password1">
                </div>
                <div class="sign-block">
                    <label for="new_password2">請再輸入新密碼</label>
                    <br>
                    <input type="password" id="new_password2">
                </div>
                <div class="sign-block">
                    <a class="promise-btn" href="javascript:void(0)" onclick="memberChangePassword()">確定</a>
                    <a class="neural-btn" href="index.php">取消</a>
                </div>
            </div>
        </div>
        <script src="resource/dist/js/view/user_function.js"></script>
    </body>
</html>