        <main>
            <div class="sign-wrap">
                <div class="sign text-center">
                    <h2>登入</h2>
                    <fb:login-button scope="public_profile,email" data-size="large" data-use-continue-as="true" onlogin="checkLoginState()"></fb:login-button>
                    <hr class="text-sep-sm">
                    <div class="sign-block">
                        <label for="account">電子信箱</label>
                        <br>
                        <input type="email" id="account">
                    </div>
                    <div class="sign-block">
                        <label for="password">密碼</label>
                        <br>
                        <input type="password" id="password">
                    </div>
                    <div class="sign-block">
                        <input type="hidden" id="origin" value="[origin]">
                        <a class="promise-btn" href="javascript:void(0)" onclick="memberSignin()">登入</a>
                        <a class="promise-btn" href="index.php?route=member&in=signup">立即註冊</a>
                    </div>
                    <div class="sign-block">
                        <a class="neural-btn" href="index.php">取消</a>
                        <a class="neural-btn" href="index.php?route=member&in=resetPassword">忘記密碼</a>
                    </div>
                </div>
            </div>
        </main>
