<!DOCTYPE html>
<html lang="zh-Hant-TW">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>忘記密碼｜三三吾鄉手工皂Trisoap</title>
        <meta name="author" content="2017 Trisoap Team">
        <meta property="og:title" content="忘記密碼｜三三吾鄉手工皂 Trisoap" >
        <meta property="og:url" content="https://www.trisoap.com.tw">
        <meta property="og:image" content="resource/img/index/index01.jpg">
        <link rel="shortcut icon" href="resource/img/misc/favicon.png">
        <link rel="stylesheet" href="resource/dist/css/user_function.css">
    </head>
    <body>
        <div class="sign-wrap">
            <div class="sign text-center">
                <h2>忘記密碼</h2>
                <div class="sign-block">
                    <label for="account">請輸入您的電子信箱</label>
                    <br>
                    <input type="email" id="account">
                </div>
                <div class="sign-block">
                    <a class="promise-btn" href="javascript:void(0)" onclick="memberResetPassword()">確定</a>
                    <a class="neural-btn" href="index.php">取消</a>
                </div>
            </div>
        </div>
        <script src="resource/dist/js/view/user_function.js"></script>
    </body>
</html>