        <main>
            <div class="sign-wrap">
                <div class="sign text-center">
                    <h2>註冊會員</h2>
                    <div class="sign-block">
                        <label for="account">電子信箱</label>
                        <br>
                        <input type="email" id="account">
                    </div>
                    <div class="sign-block">
                        <label for="name">您的姓名</label>
                        <br>
                        <input type="text" id="name">
                    </div>
                    <div class="sign-block">
                        <label for="password1">密碼</label>
                        <br>
                        <input type="password" id="password1">
                    </div>
                    <div class="sign-block">
                        <label for="password2">請再輸入密碼</label>
                        <br>
                        <input type="password" id="password2">
                    </div>
                    <div class="sign-block">
                        <p>點選確認表示您已詳閱並同意 個人資料保護條款</p>
                        <textarea id="personal-info-protect-act" rows="10" disabled></textarea>
                    </div>
                    <div class="sign-block">
                        <a class="promise-btn" href="javascript:void(0)" onclick="memberSignup()">確認</a>
                        <a class="neural-btn" href="index.php">取消</a>
                    </div>
                    <hr class="text-sep-sm">
                    <div class="sign-block">
                        已有帳號？ <a class="promise-btn" href="index.php?route=member&in=signin">登入</a>
                    </div>
                </div>
            </div>
        </main>
