                    <div class="sign-block">
                        <table class="rwd-table">
                            <thead>
                                <tr>
                                    <th>訂單編號</th>
                                    <th>缺貨狀態</th>
                                    <th>訂單狀態</th>
                                    <th>實收金額</th>
                                    <th>建立日期</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                [cusOrderOperate]
                            </tbody>
                        </table>
                    </div>