/* =========================================================================
 * CSS Normalization
 * =========================================================================
 */

@import 'normalize';

// universal main font - Noto Sans TC
@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);

// font for Trisoap signature
@import url('https://fonts.googleapis.com/css?family=Great+Vibes');

h1, h2, h3, h4, h5, h6,
p,
span,
a,
label,
th, td,
.form-field {
	font-family: 'Noto Sans TC', sans-serif;
}

$media-breakpoint-mobile: 979px;
$wrap-lr-margin: 8%;
$letter-spacing-18-18: 3.24px;

$bg-orange: #f18c41;
$main-font-color: #555;
$text-orange: #ff9c3f;

.no-scroll {
	overflow: hidden;
}

a.no-href {
	cursor: default;
}

.text-center {
	text-align: center;
}

.nowrap {
	white-space: nowrap;
}

.full-width-img {
	width: 100%;
	height: auto;
}

.main-wrap {
	margin: 60px $wrap-lr-margin;
}

.main-content-title {
	margin-bottom: 35px;
	color: $main-font-color;
	font-weight: 300;
	letter-spacing: 4.32px;
}

.main-content-subtitle {
	@extend .main-content-text;
}

.main-content-text {
	color: $main-font-color;
	font-weight: 300;
	line-height: 1.7;
	letter-spacing: 0.03em;
}

.slogan-wrap {
	width: 100%;
	box-sizing: border-box;
	padding: 60px 8%;
	background-color: $bg-orange;
	color: #fff;
}

.slogan {
	text-align: center;
	font-weight: 300;
	line-height: 1.5;
}

.slogan-title {
	@extend .slogan;
	letter-spacing: $letter-spacing-18-18;
}

// Buttons, usually <a> or <button> tag
@mixin btn($border-color,
		   $background-color,
		   $font-color,
		   $border-color-hover: lighten($border-color, 10%),
		   $background-color-hover: lighten($background-color, 10%),
		   $font-color-hover: false) {
	display: inline-block;
	box-sizing: border-box;
	border: solid 1px $border-color;
	padding: 8px 25px;
	text-decoration: none;
	text-align: center;
	background-color: $background-color;
	color: $font-color;
	font-weight: 300;
	transition-property: border-color, background-color, color;
	transition-duration: .3s;
	cursor: pointer;
	&:hover {
		@if $border-color-hover {
			border-color: $border-color-hover;
		}
		@if $background-color-hover {
			background-color: $background-color-hover;
		}
		@if $font-color-hover {
			color: $font-color-hover;
		}
	}
}

.primary-btn {
	@include btn($border-color: #fff,
				 $background-color: transparent,
				 $font-color: #fff,
				 $border-color-hover: rgba(#fff, 0.7),
				 $background-color-hover: rgba(#fff, 0.7),
				 $font-color-hover: #666);
	font-weight: 200;
}

.text-btn {
	@include btn($border-color: #000,
				 $background-color: transparent,
				 $font-color: #000,
				 $border-color-hover: #666,
				 $background-color-hover: false,
				 $font-color-hover: #666);
}

.submit-btn {
	@include btn($border-color: #000,
				 $background-color: #000,
				 $font-color: #fff,
				 $border-color-hover: #777,
				 $background-color-hover: #777);
	padding: 10px 35px;
}

.promise-btn {
	@include btn($border-color: $text-orange,
			 	 $background-color: $text-orange,
			 	 $font-color: #000);
}

.neural-btn {
	@include btn($border-color: #ccc,
				 $background-color: #ccc,
				 $font-color: #000);
}

.add-to-cart-link .cart-icon {
	width: 40px;
	height: auto;
	transition: opacity 0.3s;
}

.add-to-cart-link:hover .cart-icon {
	opacity: 0.6;
}

// input[type='text, email, phone, textarea, ...']
.form-field {
	box-sizing: border-box;
	padding: 8px 24px;
	border: solid 1px #ddd;
	color: $main-font-color;
	font-weight: 300;
	line-height: 1.4;
}

// hr tags
@mixin text-sep($border-color) {
	border-width: 1px;
	border-color: $border-color;
	border-style: solid none none none;
}

.text-sep-sm {
	@include text-sep(#eee);
	margin: 20px auto;
}

.text-sep-md {
	@include text-sep(#ccc);
	margin: 30px auto;
}

// responsive table
.rwd-table {
	width: 100%;

	td {
		padding: 0.4em;
	}

	.neural-btn,
	.promise-btn {
		margin: 0.2em;
		padding: 8px 12px;
	}

	// laptop
	@media screen and (min-width: $media-breakpoint-mobile + 1px) {
		td {
			text-align: center;
		}
	}

	// max-width for 4 buttons display
	@media screen and (min-width: $media-breakpoint-mobile + 1px) and (max-width: 1167px) {
		.neural-btn,
		.promise-btn {
			display: block;
			margin: 0.2em auto;
		}
	}

	// mobile
	@media screen and (max-width: $media-breakpoint-mobile) {
		text-align: left;

		thead {
			display: none;
		}

		td {
			display: block;

			&:first-child {
				padding-top: 1em;
			}
			&:last-child {
				padding-bottom: 1em;
			}
			&:before {
				content: attr(data-title);
				display: inline-block;
				width: 7em;
			}
			&.td-whole-line-title:before {
				width: 100%;
			}
		}

		.neural-btn,
		.promise-btn {
			margin: 1em 0.2em;
		}
	}
}

// JQuery UI Accordion
.ui-accordion-header {
	color: $main-font-color;
	font-weight: normal;
	outline: 0;
}

.ui-accordion-header.ui-state-hover,
.ui-accordion-header-active {
	font-weight: bold;
	color: #000;
}

.ui-accordion-content {
	font-weight: 300;
}

.trisoap-signature {
	font-family: "Great Vibes", sans-serif;
    font-weight: normal;
    transform: rotate(-4deg);
    -webkit-transform: rotate(-4deg);
}
