/* =========================================================================
 * CSS Normalization
 * =========================================================================
 */

@import 'normalize';

h1, h2, h3, h4, h5, h6, p, span, div, a, label {
	font-family: sans-serif;
}

/* z-index Scale: -1 - 10
 * -1:
 *  0:
 *  1:
 *  2:
 *  3:
 *  4:
 *  5:
 *  6:
 *  7:
 *  8:
 *  9:
 *  10:
 */

/* -------------------------------------------------------------------------
 * Shared Properties
 * -------------------------------------------------------------------------
 */

@import 'general';

/* =========================================================================
 * Main Navigation Bar
 * =========================================================================
 */

@import 'nav';

main {
	margin-top: $main-nav-height;
}

.search-div {
	padding: 1.2em;
	line-height: 1.5;

	#search-basis,
	#search-value,
	.neural-btn {
		margin: 10px 0;
	}

	#search-value {
		max-width: 100%;
	}
}
