@import 'general';

/* =========================================================================
 * Main Navigation Bar
 * =========================================================================
 */

@import 'nav';

/* =========================================================================
 * Manage UI Pages
 * =========================================================================
 */

main {
	margin-top: $main-nav-height;
}

.main-wrap {
	padding-top: 1.2em;
}

.create-div,
.search-div,
.update-div,
.delete-div {
	padding: 1.2em 0;
	line-height: 1.5;

	& > div > span,
	& > div > select,
	& > div > input[type='text'],
	& > div > input[type='number'],
	& > div > input[type='email'],
	& > div > .promise-btn,
	& > div > .neural-btn {
		margin: 1em 0;
		line-height: normal;
	}

	& > div > span {
		display: inline-block;
	}

	& > div > input[type='text'],
	& > div > input[type='number'],
	& > div > input[type='email'] {
		max-width: 100%;
	}
}

.rwd-table .member-detail,
.rwd-table .order-detail {
	display: none;
	padding: 1em;
	background-color: #ddd;
}
