@import 'general';

$main-text-letter-spacing: 0.03em;
$main-text-line-height: 1.7;

/* z-index Scale: -1 - 10
 * -1: .img-jumbotron::before, .lp-image-background::before
 *  0: .img-jumbotron, .lp-image-background
 *  1:
 *  2: .wd-text-cover
 *  3:
 *  4:
 *  5:
 *  6:
 *  7: .flex-control-nav
 *  8: #main-navbar
 *  9: .nav-dropdown-menu, .nav-dropdown-submenu
 *  10: #preloader
 */

/* =========================================================================
 * Preloader
 * =========================================================================
 */

#preloader {
	display: flex;
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
	background-color: #fff;
	transition: opacity 1.5s ease;
	z-index: 10;
}

#preloader-content {
	width: 250px;
	height: 250px;
}

/* =========================================================================
 * Main Navigation Bar
 * =========================================================================
 */

@import 'nav';

/* =========================================================================
 * Header
 * 1. Jumbotron
 * =========================================================================
 */

header {
	margin-top: $main-nav-height;
}

/* -------------------------------------------------------------------------
 * 1. Jumbotron
 * 1.1. Index Header Jumbotron - FlexSlider
 * 1.2. Jumbotron - Img
 * -------------------------------------------------------------------------
 */

/* 1.1. Index Header Jumbotron - FlexSlider */

.flexslider {
	margin: 0;
	border: none;
}

#index-header .flex-control-nav {
	position: absolute;
	bottom: 14%;
	z-index: 7;
	li a {	// ineffective css to overwrite flexslider-generated style
		background-color: #fff;
		&:hover {
			background-color: #fff;
		}
		&.flex-active {
			background-color: $bg-orange;
			cursor: pointer;
		}
	}
}

.flex-control-paging li a {
	box-shadow: none;
}

/* 1.2. Jumbotron - Img */

$jumbotron-list: "about", "contact", "faq", "gift_box", "moonfest", "newyear", "products", "shopping_guide", "single_product", "soap", "soapstring", "trial";

@each $item in $jumbotron-list {
	#jumbotron-#{$item} {
		background-image: url(/resource/img/jumbotrons/#{$item}.jpg);
	}
}

.img-jumbotron {
	position: relative;
	width: 100vw;
	height: 33.75vw;	// ( 486 / 1440 )
	background-size: contain;
	background-repeat: no-repeat;
	text-align: center;
	z-index: 0;
	&::before {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.5);
		z-index: -1;
	}
}

.jumbotron-title,
.jumbotron-only-title,
.jumbotron-subtitle {
	margin: 0 auto;
	color: #fff;
	font-weight: 100;
	letter-spacing: 0.18em;
}

.jumbotron-title {
	padding-top: 3.75vw;
	line-height: 14vw;
}

.jumbotron-only-title {
	line-height: 33.75vw;
}

.jumbotron-subtitle {
	line-height: 6vw;
}

.jumbotron-btn > .primary-btn {
	letter-spacing: 2px;
}

// Laptop
@media screen and (min-width: $media-breakpoint-mobile + 1px) {
	.jumbotron-title,
	.jumbotron-only-title {
		font-size: 60px;
	}

	.jumbotron-subtitle {
		font-size: 24px;
	}

	.jumbotron-btn > .primary-btn {
		padding: 16px 36px;
		font-size: 18px;
	}

	#jumbotron-trial {
		position: relative;

		.jumbotron-title {
			display: none;
		}

		.jumbotron-btn {
			position: absolute;
			top: 75%;
			right: 20%;
			transform: translate(50%, -50%);
		}
	}
}

// Mobile
@media screen and (max-width: $media-breakpoint-mobile) {
	.jumbotron-title,
	.jumbotron-only-title {
		font-size: 32px;
	}

	.jumbotron-subtitle {
		font-size: 16px;
	}

	.jumbotron-btn > .primary-btn {
		padding: 8px 25px;
		font-size: 16px;
	}
}

/* =========================================================================
 * Footer
 * =========================================================================
 */

$footer-title-font-size: 12px;
// default -- $footer-text-font-size: 16px;
$footer-font-weight: 200;
$footer-line-height: 1.7;

#footer {
	width: 100%;
	box-sizing: border-box;
	padding: 40px 0 20px;
	background-color: $bg-orange;
	color: #fff;
	font-weight: $footer-font-weight;
	line-height: $footer-line-height;
	.fa {
		color: rgba(255, 255, 255, 0.5);
		transition: color 0.3s;
	}
}

.footer-menu:not(#company-info) .footer-main-link {
	display: block;
}

.footer-title {
	margin: 20px auto;
	font-size: $footer-title-font-size;
}

.footer-main-link {
	margin-bottom: 6px;
	text-decoration: none;
	color: #fff;
	transition: color 0.3s;
	&:hover {
		color: #000;
		.fa {
			color: #000;
		}
	}
}

// Laptop
@media screen and (min-width: $media-breakpoint-mobile + 1px) {
	$footer-row-2-height: 60px;

	#footer {
		display: grid;
		grid-template-column: 8% 3fr 2fr 2fr 2fr 3fr 8%;
		grid-template-row: auto 40px $footer-row-2-height;
	}

	@for $i from 1 through 4 {
		.footer-menu:nth-child(#{$i}) {
			grid-column: calc( 2 + #{$i} ) / span 1;	// out of 8
			grid-row: 1 / 2;	// out of 4
		}
	}

	#community {
		grid-column: 2 / span 1;	// out of 8
		grid-row: 3 / 4;	// out of 4
		.footer-main-link {
			line-height: $footer-row-2-height;
		}
	}

	#copyright {
		grid-column: 3 / span 3;	// out of 8
		grid-row: 3 / 4;	// out of 4
	}
}

// Mobile
@media screen and (max-width: $media-breakpoint-mobile) {
	.footer-menu,
	#community,
	#copyright {
		width: 100%;
		text-align: center;
	}
}


/* =========================================================================
 * 登陸頁面元件｜Landing Pages
 * =========================================================================
 */

$lp-orange: #f18c41;
$lp-yellow: #f6a326;
$lp-border-radius: 8px;

.lp-bg-orange {
	background-color: $bg-orange;
	color: #fff;
}

.lp-title,
.lp-subtitle,
.lp-text {
	letter-spacing: $main-text-letter-spacing;
	line-height: $main-text-line-height;
}

.lp-title {
	font-size: 48px;
}

.lp-subtitle {
	font-size: 30px;
	&.lp-bg-orange {
		display: inline-block;
		margin: 0;
		padding: 0.5em;
		background-color: rgba(241, 140, 65, 0.5);
	}
}

.lp-text {
	margin: 2em 0;
	font-size: 22px;
	font-weight: 300;
}

ul.lp-text {
	list-style: none;
}

.lp-text-sep {
	margin-top: 0.5em;
	border-bottom: 2px #fff solid;
	padding-bottom: 0.5em;
}

.lp-orange-btn {
	@include btn($lp-orange, $lp-orange, #fff, lighten($lp-orange, 10%), lighten($lp-orange, 10%));
}

.lp-white-btn {
	@include btn(#fff, #fff, $lp-orange, false, false, lighten($lp-orange, 10%));
}

.lp-orange-btn,
.lp-white-btn {
	border-radius: $lp-border-radius;
	font-size: 30px;

	// Laptop
	@media screen and (min-width: $media-breakpoint-mobile + 1px) {
		padding: 16px 30px;
	}

	// Mobile
	@media screen and (max-width: $media-breakpoint-mobile) {
		padding: 6px 25px;
	}
}

.lp-mark {
	// calc((3.5em + 0.0625em * 2 * 2 + 4em / 3 + 692.16px) / 84 * 100);
	$lp-mark-show-width: 1113px;

	display: inline-block;
	width: 3em;
	height: 3em;
	border: 0.0625em solid #fff;
	border-radius: 8px;
	padding: 0.5em 0 0.5em 0.5em;
	font-size: 3em;
	letter-spacing: 0.5em;
	line-height: 1.5em;
	vertical-align: middle;
	& + .lp-content-left {
		display: inline-block;
		vertical-align: middle;
		// Laptop
		@media screen and (min-width: $lp-mark-show-width + 1px) {
			margin-left: 4em;
		}
	}

	@media screen and (max-width: $lp-mark-show-width) {
		display: none;
	}
}

.lp-round {
	display: flex;
	flex-direction: column;
	align-items:center;
	border-radius: 50%;
	background-color: #fff;
	color: $main-font-color;
	text-align: center;

	.lp-title {
		margin-bottom: 0;
	}

	.lp-text {
		margin: 1em 0;
	}
}

.lp-customer-feedbacks {
	$lp-cf-padding: 0.8em;

	letter-spacing: $main-text-letter-spacing;
	line-height: $main-text-line-height;

	// Laptop
	@media screen and (min-width: $media-breakpoint-mobile + 1px) {
		display: flex;
		justify-content: center;
	}

	.lp-cf {
		// Laptop
		@media screen and (min-width: $media-breakpoint-mobile + 1px) {
			width: 25%;
			margin: 0 3%;
		}

		// Mobile
		@media screen and (max-width: $media-breakpoint-mobile) {
			margin: 3em auto;
		}
	}

	.lp-cf-head {
		padding: $lp-cf-padding $lp-cf-padding 0;
		font-size: 22px;
	}

	.lp-cf-title {
		margin: 0;
		border: 2px solid $lp-orange;
		border-bottom: none;
		padding: 0.5em;
		color: $lp-orange;
	}

	.lp-cf-content {
		padding: 0 $lp-cf-padding $lp-cf-padding;
		font-size: 22px;
	}

	.lp-cf-text {
		margin: 0;
		border: 2px solid #fff;
		border-top: none;
		padding: 2 * $lp-cf-padding $lp-cf-padding;
		text-align: justify;
	}
}

[class^=lp-text-cover] {
	.lp-title,
	.lp-subtitle,
	.lp-text {
		color: #fff;
	}

	.lp-title {
		text-align: center;
	}

	&.lp-content-left,
	&.lp-content-right {
		.lp-title,
		.lp-text {
			text-align: inherit;
		}
	}

	.lp-text {
		text-align: left;
	}

	// Laptop
	@media screen and (min-width: $media-breakpoint-mobile + 1px) {
		padding: 1em;
	}

	// Mobile
	@media screen and (max-width: $media-breakpoint-mobile) {
		padding: 1em 2em;
	}
}

.lp-text-cover-light {
	background-color: rgba(255, 255, 255, 0.6);
}

.lp-text-cover-dark {
	background-color: rgba(0, 0, 0, 0.2);
}

.lp-section {
	width: 100%;
	box-sizing: border-box;
	padding: 60px 8%;
}

// img backgrounds settings

.lp-image-background {
	position: relative;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-color: #fff;
	color: #fff;
	z-index: 0;
	&.lp-ib-cover::before {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.3);
		z-index: -1;
	}
	&:not(#lp-three-elements) [class^=lp-text-cover] {
		display: inline-block;
		border-radius: $lp-border-radius;
		padding: 1em 4em;
	}
	&#lp-three-elements {
		background-image: url(/resource/img/landingpage/three-elements.jpg);
	}
	&#lp-img-social-welfare {
		background-image: url(/resource/img/landingpage/social-welfare.jpg);
	}
	&#lp-img-peasant-farmer {
		background-image: url(/resource/img/landingpage/peasant-farmer.jpg);
	}
	&#lp-img-cold-handmade {
		background-image: url(/resource/img/landingpage/cold-handmade.jpg);
	}
	&#lp-img-no-chemical {
		background-image: url(/resource/img/landingpage/no-chemical.jpg);
	}
	&#lp-img-long-time-develop {
		background-image: url(/resource/img/landingpage/long-time-develop.jpg);
	}
	&#lp-img-for-travel {
		background-image: url(/resource/img/landingpage/for-travel.jpg);
	}
	&#lp-img-foam-fest {
		background-image: url(/resource/img/landingpage/foam-fest.jpg);
	}
	&#lp-img-natural-oil {
		background-image: url(/resource/img/landingpage/natural-oil.jpg);
	}
	&#lp-img-easy-to-carry {
		background-image: url(/resource/img/landingpage/easy-to-carry.jpg);
	}
	&#lp-img-essential-oil {
		background-image: url(/resource/img/landingpage/essential-oil.jpg);
	}
	&#lp-img-welfare-produce-together {
		background-image: url(/resource/img/landingpage/welfare-produce-together.jpg);
	}
	&#lp-img-multiple-uses {
		background-image: url(/resource/img/landingpage/multiple-uses.jpg);
	}
	&#lp-img-teng-partner {
		background-image: url(/resource/img/landingpage/teng-partner.jpg);
	}
	&#lp-img-cold-pro {
		background-image: url(/resource/img/landingpage/cold-pro.jpg);
	}
	&#lp-img-listen-to-earth {
		background-image: url(/resource/img/landingpage/listen-to-earth.jpg);
	}
	&#lp-img-retarded-produce-together {
		background-image: url(/resource/img/landingpage/retarded-produce-together.jpg);
	}
	&#lp-img-media-report {
		background-image: url(/resource/img/landingpage/media-report.jpg);
	}
	&#lp-img-three-stories {
		background-image: url(/resource/img/landingpage/three-stories.jpg);
	}
}

.lp-content-left {
	text-align: left;
	&.lp-text-opposite-side {
		.lp-title,
		.lp-subtitle,
		.lp-text {
			text-align: right;
		}
	}
}

.lp-content-right {
	text-align: right;
	&.lp-text-opposite-side {
		.lp-title,
		.lp-subtitle,
		.lp-text {
			text-align: left;
		}
	}
}

@media screen and (max-width: $media-breakpoint-mobile) {
	.lp-section,
	[class^=lp-text-cover] {
		& > .lp-text > br {
			display: none;
		}
	}

	.lp-content-right,
	.lp-content-left.lp-text-opposite-side {
		.lp-title,
		.lp-subtitle,
		.lp-text {
			text-align: left;
		}
	}
}

.lp-plain-text {
	text-align: center;
	&.lp-content-left {
		text-align: left;
	}
	&.lp-content-right {
		text-align: right;
	}

	.lp-title {
		color: $lp-orange;
	}

	.lp-subtitle,
	.lp-text {
		color: $main-font-color;
	}

	.lp-text.lp-bg-orange {
		padding: 2em;
		color: #fff;
	}
}

.lp-text-list .lp-text {
	margin-left: 10%;
	text-align: left;
	&::before {
		content: '';
		display: inline-block;
		width: 1em;
		height: 1em;
		margin-right: 0.5em;
		border: 2px solid $lp-orange;
		border-radius: 1em;
		background-color: transparent;
	}
}

.lp-interlaced-text {
	// Laptop
	@media screen and (min-width: $media-breakpoint-mobile + 1px) {
		.lp-title,
		.lp-text:nth-child(odd) {
			text-align: left;
		}

		.lp-title:last-child,
		.lp-text:nth-child(even) {
			text-align: right;
		}
	}
}

.lp-classic-border {
	border: 3px #fff solid;
	box-sizing: border-box;
	padding: 32px;
	text-align: right;

	.lp-title,
	.lp-text {
		text-align: center;
	}
}

.lp-certificate {
	background-color: $lp-yellow;
	color: #fff;

	.trisoap-logo {
		@extend .full-width-img;
	}

	.lp-round {
		width: 16em;
		height: 16em;
		color: $lp-yellow;
		text-align: left;

		@media screen and (max-width: 19.04em) {
			// 16em / (100 - 8 * 2)% * 100% ~= 19.04em
			display: none;
		}

		.lp-title {
			position: relative;
			margin: 0.4em 2em 0.4em 0;
			&::after {
				content: '';
				position: absolute;
				width: 370%;
				left: 0;
				bottom: 0;
				border-bottom: 1px solid $lp-yellow;

			}
		}

		.lp-text {
			margin: 0;
		}
	}

	// Laptop
	@media screen and (min-width: $media-breakpoint-mobile + 1px) {
		display: flex;
		justify-content: space-around;
	}

	// Mobile
	@media screen and (max-width: $media-breakpoint-mobile) {
		.trisoap-logo {
			display: none;
		}
	}
}

.lp-certificate-content {
	// Laptop
	@media screen and (min-width: $media-breakpoint-mobile + 1px) {
		display: grid;
		grid-template-columns: auto 16em;
		grid-template-rows: auto auto;
		align-items: center;
		width: 80%;
		& > .lp-title {
			grid-column: 1 / 3;
			grid-row: 1 / 2;
			margin: 0;
		}
		& > .lp-text {
			grid-column: 1 / 2;
			grid-row: 2 / 3;
			margin: 1em 1em 1em 0;
		}

		.lp-round {
			grid-column: 2 / 3;
			grid-row: 2 / 3;
		}
	}

	// Mobile
	@media screen and (max-width: $media-breakpoint-mobile) {
		text-align: center;

		.lp-round {
			margin: 0 auto;
		}
	}
}

#lp-three-elements {
	& > .lp-title {
		color: #fff;
		text-align: center;
	}

	// Laptop
	@media screen and (min-width: $media-breakpoint-mobile + 1px) {
		border-spacing: 4em;

		[class^=lp-text-cover] {
			display: table-cell;
			width: 20%;
		}
	}

	// Mobile
	@media screen and (max-width: $media-breakpoint-mobile) {
		[class^=lp-text-cover] {
			margin: 2em 0;
		}
	}
}

#lp-three-insistence > .lp-title {
	margin-top: 0.5em;
	color: #fff;
	text-align: center;
}

.lp-three-rounds {
	.lp-round {
		justify-content:center;

		// Laptop
		@media screen and (min-width: $media-breakpoint-mobile + 1px) {
			.lp-title {
				font-size: 32px;
			}

			.lp-text {
				font-size: 18px;
			}
		}

		@media screen and (min-width: 768px) and (max-width: $media-breakpoint-mobile) {
			.lp-title {
				font-size: 24px;
			}

			.lp-text {
				font-size: 14px;
			}
		}

		// Mobile
		@media screen and (max-width: 533px) {
			.lp-title {
				font-size: 32px;
			}

			.lp-text {
				font-size: 18px;
			}
		}
	}

	// Laptop
	@media screen and (min-width: 768px) {
		display: flex;
		justify-content: space-around;

		.lp-round {
			width: 25vw;
			height: 25vw;
		}
	}

	// Mobile
	@media screen and (max-width: 767px) {
		.lp-round {
			width: 75vw;
			height: 75vw;
			margin: 2em auto;
		}
	}
}

.lp-cta .add-to-cart-link {
	display: inline-block;
	margin-top: 1em;

	.cart-icon {
		width: 72px;
	}
}

#lp-img-no-chemical .lp-text {
	border-left: 1px solid #fff;
	padding-left: 1em;
}

#lp-img-teng-partner {
	position: relative;

	// Laptop
	@media screen and (min-width: $media-breakpoint-mobile + 1px) {
		.lp-circle {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 4em;
			height: 4em;
			border-radius: 50%;
			border: 2px solid #fff;
			text-align: center;
		}

		#lp-circle-chihshang-rice,
		#lp-circle-lily {
			position: absolute;
			top: 4%;
		}

		#lp-circle-chihshang-rice {
			right: 35%;
		}

		#lp-circle-lily {
			right: 15%;
		}
	}

	// Mobile
	@media screen and (max-width: $media-breakpoint-mobile) {
		.lp-circle {
			display: none;
		}
	}
}

/* =========================================================================
 * Contents
 * 1. 首頁｜Index Page
 * 2. 媒體報導｜Media
 * 3. 試用品申請｜Trial
 * 4. 顧客問答（常見問題）｜FAQ
 * 5. 合作夥伴｜Partner
 * 6. 三三團隊｜About
 * 7. 聯絡我們｜Contact
 * 8. 購物須知｜Shopping Guide
 * 9. 單品 / 旅用皂絲｜Soap / Soapstring
 * 10. 客製化專區｜Customize
 * 11. 婚禮小物｜Wedding
 * 12. 四年有成｜Report
 * 13. 企業採購專區｜Business
 * =========================================================================
 */

/* -------------------------------------------------------------------------
 * 1. 首頁｜Index Page
 * 1.1.1. 活動影片 Activity videos
 * 1.2. 三個故事 Slogan
 * 1.3. 首頁 Landing Page - See 11. 登陸頁面元件｜Landing Pages
 * -------------------------------------------------------------------------
 */

/* 1.1.1. 活動影片 Activity videos */

.act-video-wrap {
	text-align: center;
}

.act-video-iframe {
	position: relative;
	height: 0;
	padding-bottom: 100% * 9 / 16;

	iframe {
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		right: 0;
		bottom: 0;
	}
}

// Laptop
@media screen and (min-width: $media-breakpoint-mobile + 1px) {
	.act-video {
		display: inline-block;
		width: 30%;
		margin: 0 1%;
	}
}

/* 1.2. 三個故事 Slogan - Shared Slogan Properties */

/* 1.3. 首頁 Landing Page - See 11. 登陸頁面元件｜Landing Pages */

/* -------------------------------------------------------------------------
 * 2. 媒體報導｜Media
 * -------------------------------------------------------------------------
 */
 #jumbotron-media {
	display: none;
 }

 .media-video-wrap {
	display: flex;
	justify-content: space-between;
	margin: 60px 8%;
 }

 .media-video {
	width: 48%;
 }

 .media-video-iframe {
	position: relative;
	height: 0;
	padding-bottom: 100% * 9 / 16;

	iframe {
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		right: 0;
		bottom: 0;
	}
}

// Mobile
@media screen and (max-width: $media-breakpoint-mobile) {
	.media-video-wrap {
		flex-direction: column;
	}
	.media-video {
		width: 100%;
		margin: 4% 0;
	}
}

.media-link {
	text-decoration: none;
}

// Laptop
@media screen and (min-width: $media-breakpoint-mobile + 1px) {
	.media-link {
		display: inline-block;
		margin: 30px 20px;
	}
}

// Mobile
@media screen and (max-width: $media-breakpoint-mobile) {
	.media-link {
		display: block;
		width: 100%;
		margin: 20px auto;
		text-align: center;
	}
}

/* -------------------------------------------------------------------------
 * 3. 試用品申請｜Trial
 * -------------------------------------------------------------------------
 */

/* Landing Page */

/* -------------------------------------------------------------------------
 * 4. 顧客問答（常見問題）｜FAQ
 * -------------------------------------------------------------------------
 */

#faq-accordion {
	margin: 60px 8%;
	/* Completed by shared properties - accordians */
}

/* -------------------------------------------------------------------------
 * 5. 合作夥伴｜Partner
 * -------------------------------------------------------------------------
 */

#partner-wrap {
	width: 100%;
	margin-top: $main-nav-height;	// this page has no header
}

.partner-content-img {
	display: block;
	@extend .full-width-img;
}

#partner-accordion {
	margin: 60px 8%;
	/* Completed by shared properties - accordians */
	& > .accordion {
		padding-left: 0;
		padding-right: 0;
	}
}

.partner-logo {
	max-width: 150px;
	height: auto;
}

// for those partners without logo img
.partner-text:first-child {
	margin-top: 0;
}

/* -------------------------------------------------------------------------
 * 6. 三三團隊｜About
 * -------------------------------------------------------------------------
 */

#lp-img-three-stories {
	min-height: 56vw;	// background-image: 1440px * 808px, 808 / 1440 ~= 0.561
}

#about-other-members > .about-member > .about-member-intro {
	& > .lp-subtitle,
	& > .lp-text {
		display: inline-block;
		vertical-align: middle;
	}
}

// Laptop
@media screen and (min-width: $media-breakpoint-mobile + 1px) {
	.about-member-img {
		width: 100%;
		height: auto;
	}

	#about-member-master {
		.about-member-img-wrap,
		.about-member-intro {
			display: inline-block;
			vertical-align: middle;
		}

		.about-member-img-wrap {
			width: 30%;
		}

		.about-member-intro {
			width: 60%;
			box-sizing: border-box;
			padding: 0 0 0 9%;
		}
	}

	#about-other-members {
		display: flex;
		justify-content: space-around;

		.about-member {
			width: 30%;
		}
	}
}

// Mobile
@media screen and (max-width: $media-breakpoint-mobile) {
	#lp-img-three-stories > .lp-subtitle.lp-bg-orange {
		color: #fff;
	}

	.about-member-img {
		width: 70%;
		height: auto;
	}

	#about-member-master {
		margin-bottom: -44px;	// -2em for content's .lp-text margin
		padding-bottom: 0;
	}
}

/* -------------------------------------------------------------------------
 * 7. 聯絡我們｜Contact
 * -------------------------------------------------------------------------
 */

#contact-subject {
	margin: 60px $wrap-lr-margin 0;
}

#contact-form .form-field {
	padding-top: 10px;
	padding-bottom: 10px;
}

#contact-form-name,
#contact-form-email,
#contact-form-phone,
#contact-form-message,
#contact-form .submit-btn {
	display: block;
	width: 100%;
	margin: 15px 0;
}

#contact-form-name,
#contact-form-email,
#contact-form-phone,
#contact-form-message {
	font-size: 18px;
}

#contact-info {
	color: $main-font-color;
	font-weight: 300;
	letter-spacing: $main-text-letter-spacing;
	line-height: $main-text-line-height;
}

// Laptop
@media screen and (min-width: $media-breakpoint-mobile + 1px) {
	#contact {
		display: grid;
		grid-template-columns: 8% 2fr 4% 3fr 8%;
		grid-template-rows: 60px auto 60px;
		align-items: center;
	}

	// #contact-map {
	// 	height: 400px;
	// 	grid-column: 2 / 3;	// out of 6
	// 	grid-row: 2 / 3;	// out of 4
	// }

	#contact-form {
		grid-column: 2 / 3;	// out of 6
		grid-row: 2 / 3;	// out of 4
	}
}

// Mobile
@media screen and (max-width: $media-breakpoint-mobile) {
	$contact-lr-margin: 8%;

	#contact {
		margin: 40px $contact-lr-margin;
	}

	#contact-map {
		height: 220px;
	}
}

/* -------------------------------------------------------------------------
 * 8. 購物須知｜Shopping Guide
 * -------------------------------------------------------------------------
 */

#guide-wrap {
	color: $main-font-color;
}

.guide-anchor,
.guide-link {
	text-decoration: none;
	color: #EA8B3B;
	font-weight: 300;
}

#guide-content {
	padding: 0 $wrap-lr-margin;
}

.guide-title {
	margin-bottom: 35px;
	color: #000;
	font-weight: normal;
	letter-spacing: 0.18em;
}

.guide-subtitle {
	margin-bottom: 20px;
	font-weight: 300;
	letter-spacing: 0.18em;
}

.guide-icon {
	width: 25px;
	height: auto;
}

.guide-text {
	margin-bottom: 35px;
	letter-spacing: $main-text-letter-spacing;
	line-height: $main-text-line-height;
}

#shop-guide {
	margin-top: 40px;
}

/* -------------------------------------------------------------------------
 * 9. 單品 / 旅用皂絲｜Soap / Soapstring
 * 9.1. 商品全覽頁｜Products
 * 9.2. 單項商品頁｜Single Product
 * -------------------------------------------------------------------------
 */

/* 9.1. 商品全覽頁｜Products */

.products-wrap {
	& > .slogan-title {
		margin: 35px auto;
	}
	& > .slogan {
		color: $main-font-color;
		line-height: $main-text-line-height;;
	}
}

.products .main-content-title,
#category-guide,
.products .product {
	padding-left: 20px;
	padding-right: 20px;
}

.product-link {
	text-decoration: none;
	color: $main-font-color;
	transition: color .3s;
	font-weight: normal;
	&:hover {
		color: #222;
	}
}

// product category title
.main-content-title .product-link {
	font-weight: inherit;
}

#category-guide {
	margin: 1em 0;
}

.products {
	display: flex;
	flex-flow: row wrap;

	.main-content-title {
		width: 100%;
	}
}

.product {
	box-sizing: border-box;
	text-align: center;
}

.product-cover {
	position: relative;
	overflow: hidden;
	transform: translateZ(0);
}

.product-cover-img {
	display: block;
	@extend .full-width-img;
}

.product-add-to-cart {
	position: absolute;
	bottom: 0;
	background-color: rgba(255, 255, 255, 0.6);
}

.product-info {
	margin: 1.5em 0 1em;
}

.product .product-link,
.product-price {
	font-weight: 300;
}

.product .product-link {
	font-size: 18px;
}

.product-price {
	color: $main-font-color;
	font-size: 23px;
}

// Laptop
@media screen and (min-width: $media-breakpoint-mobile + 1px) {
	.product {
		width: 33%;
		padding-top: 40px;
		padding-bottom: 40px;
	}

	.product-add-to-cart {
		width: 100%;
		margin-bottom: -4em;
		padding: 0.4em 0;
		transition: margin 0.3s;
		a {
			text-decoration: none;
			color: #fff;
		}
		.cart-icon {
			width: 30px;
			height: auto;
		}
	}

	.product-cover:hover {
		.product-cover-img {
			transform: scale(1.1);
		}

		.product-add-to-cart {
			margin-bottom: 0;
		}
	}

	.product-cover-img {
		transition: transform 0.3s;
	}
}

// Mobile
@media screen and (max-width: $media-breakpoint-mobile) {
	.product {
		width: 100%;
		padding-top: 10px;
		padding-bottom: 10px;
	}

	$product-add-to-cart-mobile-radius: 18px;

	.product-add-to-cart {
		right: 0;
		width: 2 * $product-add-to-cart-mobile-radius;
		height: 2 * $product-add-to-cart-mobile-radius;
		margin: 6px;
		box-sizing: border-box;
		border-radius: $product-add-to-cart-mobile-radius;
		padding: 6px;

		.cart-icon {
			width: 24px;
			height: auto;
		}
	}
}

/* 9.2. 單項商品頁｜Single Product */

// Laptop
@media screen and (min-width: $media-breakpoint-mobile + 1px) {
	#single-product-wrap {
		display: flex;
		flex-flow: row wrap;
	}

	#single-product-carousel,
	#single-product-desc {
		width: 50%;
		box-sizing: border-box;
		padding: 0 25px;
	}
}

// Mobile
@media screen and (max-width: $media-breakpoint-mobile) {
	#single-product-carousel,
	#single-product-desc {
		width: 100%;
	}

	#single-product-carousel {
		margin-bottom: 35px;
	}
}

#single-product-accordion > .ui-accordion-header {
	margin-bottom: 1em;
	padding: 10px 15px;
	border-bottom: 1px solid #ddd;
	background-color: #f5f5f5;
	color: #000;
	transition: color .3s;
	font-weight: normal;
	line-height: 1.5;
	letter-spacing: 0.18em;
	&.ui-state-hover {
		color: #666;
	}
}

.ui-accordion .ui-accordion-content {
	padding-top: 0;
}

#single-product-desc .main-content-title,
#single-product-desc #single-product-price {
	display: inline-block;
	margin: 0 0 13px;
}

#single-product-price {
	color: $main-font-color;
	font-weight: 200;
	line-height: 1.5;
	letter-spacing: 0.18em;
}

label[for="purchase-amount"],
#purchase-amount,
#single-product-purchase > .add-to-cart-link {
	vertical-align: middle;
}

#purchase-amount,
#single-product-purchase > .add-to-cart-link {
	display: inline-block;
	margin: 13px 6px;
}

#purchase-amount {
	min-width: 66px;
	max-width: 120px;
}

label[for="purchase-amount"] {
	color: $main-font-color;
}

/* -------------------------------------------------------------------------
 * 10. 客製化專區｜Customize
 * -------------------------------------------------------------------------
 */

$customize-main-yellow: #ffb801;

#customize-wrap {
	width: 100%;
	margin-top: $main-nav-height;	// this page has no header
}

.customize-content-img {
	display: block;
	@extend .full-width-img;
}

.customize-section {
	width: 100%;
	box-sizing: border-box;
	padding: 0 8%;
}

.customize-bg-yellow {
	background-color: $customize-main-yellow;
	color: #fff;
}

// mobile
@media screen and (max-width: $media-breakpoint-mobile) {
	.customize-section {
		padding: 0;
	}
}

/* -------------------------------------------------------------------------
 * 11. 婚禮小物｜Wedding
 * -------------------------------------------------------------------------
 */

$wedding-main-color: #ff8674;
$wedding-text-gray: #4d4d4d;
$wedding-action-gray: #f2f2f2;

@function mockupMobile($px) {
	@return $px / 750px * 100vw;
}

@function mockupDesktop($px) {
	@return $px / 1920px * 100vw;
}

.wd-super-title,
.wd-title,
.wd-subtitle,
.wd-text {
	margin: 0;
	line-height: normal;
}

.wd-super-title,
.wd-title {
	color: $wedding-main-color;
}

.wd-subtitle,
.wd-text {
	color: $wedding-text-gray;
}

// laptop
@media screen and (min-width: $media-breakpoint-mobile + 1px) {
	.wd-super-title {
		font-size: mockupDesktop(48px);
	}

	.wd-title {
		font-size: mockupDesktop(30px);
	}

	.wd-subtitle {
		font-size: mockupDesktop(26px);
	}

	.wd-text {
		font-size: mockupDesktop(22px);
	}
}

// mobile
@media screen and (max-width: $media-breakpoint-mobile) {
	.wd-super-title {
		font-size: mockupMobile(48px);
	}

	.wd-title {
		font-size: mockupMobile(30px);
	}

	.wd-subtitle {
		font-size: mockupMobile(26px);
	}

	.wd-text {
		font-size: mockupMobile(22px);
		br {
			display: none;
		}
	}

	.wd-main-img img {
		display: block;
	}
}

.wd-text-cover {
	position: relative;
	box-sizing: border-box;
	background-color: rgba($wedding-main-color, 0.85);
	z-index: 2;

	.wd-super-title,
	.wd-title,
	.wd-subtitle,
	.wd-text {
		color: #fff;
	}

	.wd-tc-ol {
		list-style: none;
		counter-reset: li;
		li {
			counter-increment: li;
			&::before,
			& > .wd-text {
				display: inline-block;
				vertical-align: middle;
			}
			&::before {
				content: counter(li);
				border-radius: 50%;
				background-color: #fff;
				color: $wedding-main-color;
				text-align: center;
			}
		}
	}
}

.wd-text-btn {
	line-height: 1;
	letter-spacing: normal;

	// laptop
	@media screen and (min-width: $media-breakpoint-mobile + 1px) {
		@include btn($border-color: $wedding-main-color,
				 $background-color: transparent,
				 $font-color: $wedding-main-color,
				 $border-color-hover: $wedding-main-color,
				 $background-color-hover: $wedding-main-color,
				 $font-color-hover: #fff);
		border-width: mockupDesktop(2px);
		padding: mockupDesktop(20px) mockupDesktop(22px) mockupDesktop(21px);
		font-size: mockupDesktop(34px);
	}

	// mobile
	@media screen and (max-width: $media-breakpoint-mobile) {
		@include btn($border-color: #fff,
				 $background-color: transparent,
				 $font-color: #fff,
				 $border-color-hover: #fff,
				 $background-color-hover: #fff,
				 $font-color-hover: $wedding-main-color);
		border-width: mockupMobile(2px);
		padding: mockupMobile(24px) mockupMobile(30px) mockupMobile(21px);
		font-size: mockupMobile(30px);
	}
}

.wd-submit-btn {
	@include btn($border-color: $wedding-main-color,
				 $background-color: $wedding-main-color,
				 $font-color: #fff,
				 $border-color-hover: rgba($wedding-main-color, 0.7),
				 $background-color-hover: rgba($wedding-main-color, 0.7));
	line-height: normal;
	letter-spacing: normal;

	// mobile
	@media screen and (max-width: $media-breakpoint-mobile) {
		width: 100%;
		margin-top: mockupMobile(20px);
		padding: mockupMobile(20px) 0 mockupMobile(21px);
		font-size: mockupMobile(34px);
	}
}

.wd-intro {
	& > .wd-intro-content > .wd-text {
		line-height: 1.8181818181818181;
	}

	// laptop
	@media screen and (min-width: $media-breakpoint-mobile + 1px) {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: mockupDesktop(100px) mockupDesktop(250px);
		& > .wd-intro-content {
			width: mockupDesktop(425px);
			& > .wd-title {
				margin-bottom: mockupDesktop(30px);
			}
		}
		& > .wd-main-img {
			width: mockupDesktop(880px);
			height: mockupDesktop(587px);
		}
	}

	// mobile
	@media screen and (max-width: $media-breakpoint-mobile) {
		position: relative;
		width: 100%;
		box-sizing: border-box;
		text-align: center;
		& > .wd-main-img {
			position: absolute;
			width: 100%;
			top: mockupMobile(-530px);
			box-sizing: border-box;
			padding: mockupMobile(60px) mockupMobile(60px) mockupMobile(50px);
		}
		& > .wd-intro-content {
			margin-top: mockupMobile(530px);
			padding: 0 mockupMobile(135px) mockupMobile(40px);
			& > .wd-text {
				margin-top: mockupMobile(30px);
			}
		}
	}
}

.wd-intro-sep {
	border-color: #979797;
	border-style: solid none;

	// laptop
	@media screen and (min-width: $media-breakpoint-mobile + 1px) {
		margin: mockupDesktop(20px) mockupDesktop(250px);
		border-width: mockupDesktop(1px);
	}

	// mobile
	@media screen and (max-width: $media-breakpoint-mobile) {
		margin: mockupMobile(20px) mockupMobile(60px) 0;
		border-width: mockupMobile(1px);
	}
}

.wd-image-background {
	position: relative;
	width: 100%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	&#wd-img-samples {
		// laptop
		@media screen and (min-width: $media-breakpoint-mobile + 1px) {
			height: mockupDesktop(1000px);
			background-image: url(/resource/img/wedding/desktop/03.jpg);
		}

		// mobile
		@media screen and (max-width: $media-breakpoint-mobile) {
			height: mockupMobile(440px);
			background-image: url(/resource/img/wedding/mobile/03.jpg);
		}
	}
	&#wd-img-confidence {
		// laptop
		@media screen and (min-width: $media-breakpoint-mobile + 1px) {
			height: mockupDesktop(1196px);
			background-image: url(/resource/img/wedding/desktop/05.jpg);
		}

		// mobile
		@media screen and (max-width: $media-breakpoint-mobile) {
			height: mockupMobile(440px);
			background-image: url(/resource/img/wedding/mobile/05.jpg);
		}
	}

	// laptop
	@media screen and (min-width: $media-breakpoint-mobile + 1px) {
		margin: mockupDesktop(100px) 0;
	}
}

.wd-slogan {
	background-size: contain;
	background-color: #fff;
	background-position: center;
	background-repeat: no-repeat;
	text-align: center;
	&#wd-img-142 {
		background-image: url(/resource/img/wedding/142.jpg);
	}
	& > .wd-text {
		line-height: 1.8181818181818181;
	}

	// laptop
	@media screen and (min-width: $media-breakpoint-mobile + 1px) {
		& > .wd-text {
			margin-top: mockupDesktop(30px);
		}
		&#wd-img-031 {
			background-image: url(/resource/img/wedding/desktop/031.jpg);
			& > .wd-text {
				width: mockupDesktop(556px);
				margin-left: auto;
				margin-right: auto;
			}
		}
		&#wd-img-142 {
			margin-top: mockupDesktop(40px);
			margin-bottom: mockupDesktop(5px);
			& > .wd-super-title br {
				display: none;
			}
		}
	}

	// mobile
	@media screen and (max-width: $media-breakpoint-mobile) {
		&#wd-img-031 {
			padding: 0 mockupMobile(135px);
			& > .wd-title {
				margin-top: mockupMobile(50px);
				line-height: 1;
			}
			& > .wd-text {
				margin-top: mockupMobile(30px);
				letter-spacing: mockupMobile(0.5px);
			}
		}
		&#wd-img-142 {
			margin: mockupMobile(80px) mockupMobile(80px) 0;
			padding: 0 mockupMobile(85px);
			background-position: center mockupMobile(76px);
			& > .wd-title {
				font-size: mockupMobile(22px);
				line-height: calc(30 / 22);
			}
			& > .wd-super-title {
				margin-top: mockupMobile(25px);
				font-size: mockupMobile(40px);
				line-height: calc(110 / 80);
			}
		}
	}
}

.wd-section {
	& > .wd-title {
		display: flex;
		align-items: center;
		line-height: calc(66 / 34);
		&::before,
		&::after {
			content: '';
			flex-grow: 1;
			height: 2px;
			background-color: #979797;
		}
		&::before {
			// laptop
			@media screen and (min-width: $media-breakpoint-mobile + 1px) {
				margin-right: mockupDesktop(25px);
			}

			// mobile
			@media screen and (max-width: $media-breakpoint-mobile) {
				margin-right: mockupMobile(25px);
			}
		}
		&::after {
			// laptop
			@media screen and (min-width: $media-breakpoint-mobile + 1px) {
				margin-left: mockupDesktop(25px);
			}

			// mobile
			@media screen and (max-width: $media-breakpoint-mobile) {
				margin-left: mockupMobile(25px);
			}
		}

		// mobile
		@media screen and (max-width: $media-breakpoint-mobile) {
			padding: 0 mockupMobile(50px);
		}
	}

	.wd-title,
	.wd-text {
		color: $wedding-text-gray;
	}

	// laptop
	@media screen and (min-width: $media-breakpoint-mobile + 1px) {
		padding: mockupDesktop(50px) mockupDesktop(250px);
	}
}

#wd-advice {
	margin-top: $main-nav-height;	// first div, this page has no header
	& > .wd-text-cover > .wd-super-title {
		line-height: calc(128 / 96);
	}

	// laptop
	@media screen and (min-width: $media-breakpoint-mobile + 1px) {
		padding: mockupDesktop(130px) 0 mockupDesktop(100px);
		& > .wd-main-img {
			width: mockupDesktop(1230px);
			height: mockupDesktop(820px);
			margin-left: mockupDesktop(130px);
		}
		& > .wd-text-cover {
			width: mockupDesktop(578px);
			margin: mockupDesktop(-698px) mockupDesktop(130px) 0 auto;
			padding: mockupDesktop(51px) mockupDesktop(74px) mockupDesktop(54px) mockupDesktop(72px);
		}
		& > .wd-intro-content {
			width: mockupDesktop(339px);
			margin: mockupDesktop(64px) mockupDesktop(146px) mockupDesktop(178px) auto;
			& > .wd-subtitle {
				height: mockupDesktop(84px);
				line-height: calc(63 / 39);
			}
			& > .wd-text-btn {
				margin: mockupDesktop(60px) 0 0 mockupDesktop(155px);
			}
		}
	}

	// mobile
	@media screen and (max-width: $media-breakpoint-mobile) {
		& > .wd-text-cover {
			width: 100%;
			padding: mockupMobile(61px) mockupMobile(80px) mockupMobile(59px);
		}
		& > .wd-intro-content {
			display: flex;
			position: relative;
			justify-content: space-between;
			width: 100%;
			margin-bottom: mockupMobile(10px);
			box-sizing: border-box;
			padding: mockupMobile(50px) mockupMobile(80px) mockupMobile(52px);
			background-color: rgba($wedding-main-color, 0.85);
			&::before {
				content: '';
				display: block;
				position: absolute;
				width: 100vw - mockupMobile(160px);
				height: mockupMobile(2px);
				top: 0;
				margin: 0 auto;
				background-color: #fff;
			}
			& > .wd-subtitle {
				height: mockupMobile(75px);
				color: #fff;
				font-size: mockupMobile(22px);
				line-height: calc(75 / 44);
			}
		}
	}
}

#wd-simple-procedure {
	& > .wd-text-cover > .wd-title {
		line-height: 1;
	}

	// laptop
	@media screen and (min-width: $media-breakpoint-mobile + 1px) {
		padding: mockupDesktop(100px) 0;

		& > .wd-main-img {
			width: mockupDesktop(1282px);
			height: mockupDesktop(820px);
			margin-left: mockupDesktop(150px);
		}
		& > .wd-text-cover {
			width: mockupDesktop(598px);
			margin: mockupDesktop(-669px) mockupDesktop(150px) mockupDesktop(219px) auto;
			padding: mockupDesktop(65px) mockupDesktop(61px) mockupDesktop(30px);

			.wd-tc-ol {
				margin-top: mockupDesktop(53px);
				padding-left: mockupDesktop(52px);

				li {
					margin: mockupDesktop(30px) 0;
					&:nth-child(2) {
						margin-bottom: mockupDesktop(32px);
					}
					&::before {
						width: mockupDesktop(55px);
						height: mockupDesktop(55px);
						margin-right: mockupDesktop(30px);
						line-height: mockupDesktop(55px);
						font-size: mockupDesktop(34px);
					}
					& > .wd-text {
						font-size: mockupDesktop(24px);
						line-height: mockupDesktop(34px);
					}
				}
			}
		}
	}

	// mobile
	@media screen and (max-width: $media-breakpoint-mobile) {
		padding: mockupMobile(60px);
		& > .wd-text-cover {
			padding: mockupMobile(50px) mockupMobile(77px);

			.wd-tc-ol {
				margin-top: mockupMobile(50px);
				padding-left: mockupMobile(52px);

				li {
					margin: mockupMobile(37.5px) 0;
					&::before {
						width: mockupMobile(55px);
						height: mockupMobile(55px);
						margin-right: mockupMobile(30px);
						line-height: mockupMobile(55px);
						font-size: mockupMobile(34px);
					}
					& > .wd-text {
						font-size: mockupMobile(24px);
						line-height: mockupMobile(34px);
					}

					.wd-text br {
						display: initial;
					}
				}
			}
		}
	}
}

#wd-img-confidence {
	position: relative;

	// laptop
	@media screen and (min-width: $media-breakpoint-mobile + 1px) {
		& > .wd-text-cover {
			position: absolute;
			width: mockupDesktop(464px);
			margin: mockupDesktop(358px) auto auto mockupDesktop(150px);
			padding: mockupDesktop(59px) mockupDesktop(60px) mockupDesktop(54px);
			& > .wd-title {
				margin-bottom: mockupDesktop(25px);
			}
			& > .wd-text {
				line-height: calc(157 / 88);
			}
		}
	}

	// mobile
	@media screen and (max-width: $media-breakpoint-mobile) {
		& > .wd-text-cover {
			position: absolute;
			top: mockupMobile(440px);
			box-sizing: border-box;
			padding: mockupMobile(50px) mockupMobile(135px) mockupMobile(10px);
			background-color: #fff;
			& > .wd-title {
				color: $wedding-main-color;
				line-height: 1;
				br {
					display: none;
				}
			}
			& > .wd-text {
				margin-top: mockupMobile(30px);
				color: $wedding-text-gray;
				line-height: 1.8181818181818181;
			}
		}
		& + .wd-intro {
			margin-top: mockupMobile(530px + 234px);
		}
	}
}

#wd-img-future {
	// laptop
	@media screen and (min-width: $media-breakpoint-mobile + 1px) {
		& > .wd-main-img {
			width: 100%;
			height: mockupDesktop(960px);
		}
		& > .wd-text-cover {
			width: mockupDesktop(1080px);
			margin: mockupDesktop(-130px) auto mockupDesktop(66px);
			padding: mockupDesktop(60px) mockupDesktop(128px);
			& > .wd-super-title {
				margin-bottom: mockupDesktop(35px);
				text-align: center;
				line-height: 1;
			}
			& > .wd-text {
				line-height: calc(114 / 66);
			}
		}
	}

	// mobile
	@media screen and (max-width: $media-breakpoint-mobile) {
		& > .wd-text-cover {
			margin: mockupMobile(-97px) auto mockupMobile(66px);
			padding: mockupMobile(50px) mockupMobile(80px) mockupMobile(60px);
			text-align: center;
			& > .wd-super-title {
				font-size: mockupMobile(34px);
				line-height: 1;
			}
			& > .wd-text {
				margin-top: mockupMobile(30px);
				line-height: calc(180 / 110);
			}
		}
	}
}

#wd-media-reports {
	display: flex;
	justify-content: space-between;
	flex-flow: row wrap;

	// laptop
	@media screen and (min-width: $media-breakpoint-mobile + 1px) {
		margin-top: mockupDesktop(23px);

		.wd-media-report {
			width: mockupDesktop(400px);
			padding-top: mockupDesktop(60px);
		}

		.wd-mr-comment {
			min-height: mockupDesktop(114px);
		}

		.wd-mr-source {
			width: mockupDesktop(200px);
			height: mockupDesktop(81px);
			margin-left: mockupDesktop(200px);
		}
	}

	// mobile
	@media screen and (max-width: $media-breakpoint-mobile) {
		padding: 0 mockupMobile(75px);

		.wd-media-report {
			display: flex;
			flex-flow: column;
			justify-content: space-between;
			width: mockupMobile(270px);
			box-sizing: border-box;
			padding: mockupMobile(32px) 0 mockupMobile(50px);
		}

		.wd-mr-comment {
			line-height: 1.8;
		}

		.wd-mr-source {
			width: mockupMobile(200px);
			height: mockupMobile(81px);
			margin-left: mockupMobile(70px);
		}
	}
}

#wd-customer-feedbacks {
	// laptop
	@media screen and (min-width: $media-breakpoint-mobile + 1px) {
		display: flex;
		justify-content: space-between;
		flex-flow: row wrap;
		margin-top: mockupDesktop(62px);

		.wd-customer-feedback {
			width: mockupDesktop(674px);
			height: mockupDesktop(431px);
		}
	}

	// mobile
	@media screen and (max-width: $media-breakpoint-mobile) {
		margin-top: mockupMobile(-5px);

		.wd-customer-feedback {
			width: mockupMobile(600px);
			margin: mockupMobile(35px) auto;
		}
	}
}

#wd-opportunities {
	// laptop
	@media screen and (min-width: $media-breakpoint-mobile + 1px) {
		display: flex;
		justify-content: space-between;
		padding: mockupDesktop(100px) mockupDesktop(150px);
		& > .wd-main-img {
			width: mockupDesktop(1143px);
			height: mockupDesktop(686px);
		}
		& > .wd-text-cover {
			width: mockupDesktop(477px);
			height: mockupDesktop(686px);
			padding: mockupDesktop(120px) mockupDesktop(60px) 0;
			& > .wd-title {
				line-height: calc(130 / 102);
			}
			& > .wd-text {
				margin-top: mockupDesktop(26px);
				line-height: calc(274 / 154);
			}
		}
	}

	// mobile
	@media screen and (max-width: $media-breakpoint-mobile) {
		& > .wd-text-cover {
			margin-top: mockupMobile(-90px);
			padding: mockupMobile(50px) mockupMobile(60px);
			text-align: center;
			& > .wd-text {
				margin-top: mockupMobile(25px);
				line-height: 1.8181818181818181;
			}
		}
	}
}

#wd-special-offers {
	& > .wd-offer,
	& > .wd-primary-offer {
		& > [class^=wd-offer-] {
			display: flex;
			flex-flow: column wrap;
			justify-content: center;
			align-items: center;
		}

		.wd-text {
			line-height: calc(40 / 22);
		}
	}
	& > .wd-offer {
		& > .wd-offer-price {
			.wd-super-title,
			.wd-title,
			.wd-subtitle,
			.wd-text {
				color: #fff;
			}
		}
		& > .wd-offer-bonus::before {
			background: transparent url(/resource/img/wedding/offer-bonus.svg) center center;
			background-size: contain;
			color: #fff;
		}

		.wd-super-title,
		.wd-title,
		.wd-subtitle,
		.wd-text {
			color: $wedding-main-color;
		}

		& > .wd-offer-name,
		& > .wd-offer-intro {
			background-color: rgba($wedding-main-color, 0.15);
		}
		& > .wd-offer-price {
			background-color: rgba($wedding-main-color, 0.7 * 0.85 + 0.15);
		}
		& > .wd-offer-bonus {
			background-color: rgba($wedding-main-color, 0.1 * 0.85 + 0.15);
		}
	}
	& > .wd-primary-offer {
		& > .wd-offer-bonus::before {
			background: transparent url(/resource/img/wedding/offer-bonus-white.svg) center center;
			background-size: contain;
			color: $wedding-main-color;
		}

		.wd-super-title,
		.wd-title,
		.wd-subtitle,
		.wd-text {
			color: #fff;
		}

		& > .wd-offer-name,
		& > .wd-offer-intro {
			background-color: rgba($wedding-main-color, 0.595);
		}
		& > .wd-offer-price {
			background-color: rgba($wedding-main-color, 1);
		}
		& > .wd-offer-bonus {
			background-color: rgba($wedding-main-color, 0.35 * 0.405 + 0.595);
		}
	}

	// laptop
	@media screen and (min-width: $media-breakpoint-mobile + 1px) {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: mockupDesktop(150px) mockupDesktop(130px);
		& > .wd-offer,
		& > .wd-primary-offer {
			width: mockupDesktop(490px);
			& > .wd-offer-name {
				.wd-title + .wd-text,
				.wd-super-title + .wd-text {
					margin-top: mockupDesktop(11px);
				}
			}
			& > .wd-offer-price {
				span + p.wd-text {
					margin-top: mockupDesktop(5px);
				}
			}
			& > .wd-offer-bonus {
				position: relative;
				&::before {
					content: '送';
					display: block;
					position: absolute;
					width: mockupDesktop(50px);
					height: mockupDesktop(50px);
					top: mockupDesktop(32px);
					left: mockupDesktop(80px);
					font-size: mockupDesktop(28px);
					line-height: mockupDesktop(50px);
					text-align: center;
				}
			}
		}
		& > .wd-offer {
			& > .wd-offer-name {
				height: mockupDesktop(160px);
			}
			& > .wd-offer-price {
				height: mockupDesktop(135px);
			}
			& > .wd-offer-intro {
				height: mockupDesktop(200px);
			}
			& > .wd-offer-bonus {
				height: mockupDesktop(168px);
			}
		}
		& > .wd-primary-offer {
			& > .wd-offer-name {
				height: mockupDesktop(180px);
			}
			& > .wd-offer-price {
				height: mockupDesktop(135px);
			}
			& > .wd-offer-intro {
				height: mockupDesktop(200px);
			}
			& > .wd-offer-bonus {
				height: mockupDesktop(188px);
			}
		}
	}

	// mobile
	@media screen and (max-width: $media-breakpoint-mobile) {
		padding: mockupMobile(10px) mockupMobile(60px);
		& > .wd-offer,
		& > .wd-primary-offer {
			margin: mockupMobile(70px) auto;
			
			& > .wd-offer-name,
			& > .wd-offer-price,
			& > .wd-offer-intro,
			& > .wd-offer-bonus {
				padding: mockupMobile(24px) 0;
			}

			& > .wd-offer-name {
				.wd-title + .wd-text,
				.wd-super-title + .wd-text {
					margin-top: mockupMobile(11px);
				}
			}
			& > .wd-offer-price {
				span + p.wd-text {
					margin-top: mockupMobile(5px);
				}
			}
			& > .wd-offer-bonus {
				&::before {
					content: '送';
					display: block;
					width: mockupMobile(50px);
					height: mockupMobile(50px);
					margin-right: mockupMobile(11px);
					font-size: mockupMobile(28px);
					line-height: mockupMobile(50px);
					text-align: center;
				}
			}
		}
		& > .wd-offer {
			width: mockupMobile(590px);
		}
		& > .wd-primary-offer {
			width: mockupMobile(630px);
		}
	}
}

#wd-cta {
	background-color: $wedding-action-gray;
	& > .wd-intro-content .wd-title {
		color: $wedding-text-gray;
	}

	// laptop
	@media screen and (min-width: $media-breakpoint-mobile + 1px) {
		display: flex;
		justify-content: space-between;
		padding: mockupDesktop(225px) mockupDesktop(275px) mockupDesktop(255px);
		& > .wd-intro-content {
			width: mockupDesktop(408px);
			margin-top: mockupDesktop(42px);
			& > .wd-text {
				margin-top: mockupDesktop(30px);
				line-height: calc(114 / 66);
				& + .wd-title {
					margin-top: mockupDesktop(80px);
				}
			}
		}
	}

	// mobile
	@media screen and (max-width: $media-breakpoint-mobile) {
		& > .wd-intro-content {
			padding: mockupMobile(60px) 0;
			text-align: center;
			& > .wd-text {
				margin-top: mockupMobile(15px);
				padding: 0 mockupMobile(159px);
				line-height: calc(128 / 66);
				&:last-of-type {
					padding: 0 mockupMobile(108px);
				}
				& + .wd-title {
					margin-top: mockupMobile(60px);
				}
			}
		}
	}
}

#wd-cta-form {
	box-sizing: border-box;
	background-color: #fff;

	hr {
		width: 100%;
		border-width: mockupDesktop(1px);
		border-color: #999;
		border-style: solid none;

		// laptop
		@media screen and (min-width: $media-breakpoint-mobile + 1px) {
			margin: mockupDesktop(36px) 0 mockupDesktop(37px);
		}

		// mobile
		@media screen and (max-width: $media-breakpoint-mobile) {
			margin: mockupMobile(33px) 0;
		}
	}

	.wd-cta-form-content {
		display: flex;
		justify-content: space-between;
		flex-flow: row wrap;
		align-items: center;
		&:last-of-type {
			// laptop
			@media screen and (min-width: $media-breakpoint-mobile + 1px) {
				margin-top: mockupDesktop(25px);
			}
		}

		// mobile
		@media screen and (max-width: $media-breakpoint-mobile) {
			& > span {
				width: 100%;
				margin: mockupMobile(30px) 0 mockupMobile(15px);
				line-height: calc(40 / 22);
			}
		}
	}

	.wd-cta-input {
		box-sizing: border-box;
		border: none;
		background-color: $wedding-action-gray;
		&[type=checkbox],
		&[type=radio] {
			display: none;
			& + label {
				display: flex;
				align-items: center;
				position: relative;
				cursor: pointer;
				line-height: calc(40 / 22);
				&::before {
					content: '';
					position: absolute;
					background-color: $wedding-action-gray;
				}
				&::after {
					content: '';
					display: none;
					position: absolute;
				    border-style: none none solid solid;
				    border-color: $wedding-main-color;
				    background-color: transparent;
				    transform: rotate(-45deg);
				}
			}
			&:checked + label::after {
				display: block;
			}

			// laptop
			@media screen and (min-width: $media-breakpoint-mobile + 1px) {
				& + label {
					margin-left: mockupDesktop(35px);
					&::before {
						left: mockupDesktop(-35px);
						width: mockupDesktop(25px);
						height: mockupDesktop(25px);
					}
					&::after {
						width: mockupDesktop(18px);
					    height: mockupDesktop(10px);
					    left: mockupDesktop(-30px);
					    top: 0;
					    border-width: mockupDesktop(5px);
					}
				}
			}

			// mobile
			@media screen and (max-width: $media-breakpoint-mobile) {
				& + label {
					margin-left: mockupMobile(35px);
					&::before {
						left: mockupMobile(-35px);
						width: mockupMobile(25px);
						height: mockupMobile(25px);
					}
					&::after {
						width: mockupMobile(18px);
					    height: mockupMobile(10px);
					    left: mockupMobile(-30px);
					    top: mockupMobile(6px);
					    border-width: mockupMobile(5px);
					}
				}
			}
		}

		// mobile
		@media screen and (max-width: $media-breakpoint-mobile) {
			& + label[for="wd-cta-subscribe"],
			& + label[for="wd-cta-privacy"] {
				margin: mockupMobile(15px) 0 mockupMobile(15px) mockupMobile(35px);
			}
		}
	}

	// laptop
	@media screen and (min-width: $media-breakpoint-mobile + 1px) {
		width: mockupDesktop(830px);
		padding: mockupDesktop(47.5px) mockupDesktop(60px) mockupDesktop(60px);
		box-shadow: 0 0 18px 3px rgba(153, 153, 153, 0.5);

		.wd-cta-input[type=text],
		.wd-cta-input[type=phone],
		.wd-cta-input[type=email] {
			width: mockupDesktop(600px);
			margin: mockupDesktop(12.5px) 0;
			padding: 0 mockupDesktop(14px);
			line-height: mockupDesktop(50px);
		}
	}

	// mobile
	@media screen and (max-width: $media-breakpoint-mobile) {
		padding: mockupMobile(47px) mockupMobile(94px) mockupMobile(60px);

		.wd-cta-input[type=text],
		.wd-cta-input[type=phone],
		.wd-cta-input[type=email] {
			width: mockupMobile(453px);
			margin: mockupMobile(13px) 0;
			padding: 0 mockupMobile(14px);
			line-height: mockupMobile(50px);
		}
	}
}

#wd-cta-offer-wrap {
	// laptop
	@media screen and (min-width: $media-breakpoint-mobile + 1px) {
		margin-top: mockupDesktop(28.5px);
	}
}

#wd-cta-diy-wrap {
	// laptop
	@media screen and (min-width: $media-breakpoint-mobile + 1px) {
		margin-top: mockupDesktop(34px);
	}
}

#wd-cta-privacy-wrap label a {
	color: $wedding-text-gray;
}

/* -------------------------------------------------------------------------
 * 12. 四年有成｜Report
 * -------------------------------------------------------------------------
 */

#report-wrap {
	width: 100%;
}

.report-content-img {
	display: block;
	@extend .full-width-img;
}

/* -------------------------------------------------------------------------
 * 13. 企業採購專區｜Business
 * -------------------------------------------------------------------------
 */

 #business-wrap {
	width: 100%;
}

.business-content-img {
	display: block;
	@extend .full-width-img;
}