@import 'general';

$main-text-letter-spacing: 0.03em;
$main-text-line-height: 1.7;

/* z-index Scale: -1 - 10
 * -1: .img-jumbotron::before, .lp-image-background::before
 *  0: .img-jumbotron, .lp-image-background
 *  1:
 *  2:
 *  3:
 *  4:
 *  5:
 *  6:
 *  7: .flex-control-nav
 *  8: #main-navbar
 *  9: .nav-dropdown-menu, .nav-dropdown-submenu
 *  10: #preloader
 */

/* =========================================================================
 * Preloader
 * =========================================================================
 */

#preloader {
	display: flex;
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
	background-color: #fff;
	transition: opacity 1.5s ease;
	z-index: 10;
}

#preloader-content {
	width: 250px;
	height: 250px;
}

/* =========================================================================
 * Main Navigation Bar
 * =========================================================================
 */

@import 'nav';

/* =========================================================================
 * Header
 * 1. Jumbotron
 * =========================================================================
 */

header {
	margin-top: $main-nav-height;
}

/* -------------------------------------------------------------------------
 * 1. Jumbotron
 * 1.1. Index Header Jumbotron - FlexSlider
 * 1.2. Jumbotron - Img
 * -------------------------------------------------------------------------
 */

/* 1.1. Index Header Jumbotron - FlexSlider */

.flexslider {
	margin: 0;
	border: none;
}

#index-header .flex-control-nav {
	position: absolute;
	bottom: 14%;
	z-index: 7;
	li a {	// ineffective css to overwrite flexslider-generated style
		background-color: #fff;
		&:hover {
			background-color: #fff;
		}
		&.flex-active {
			background-color: $bg-orange;
			cursor: pointer;
		}
	}
}

.flex-control-paging li a {
	box-shadow: none;
}

/* 1.2. Jumbotron - Img */

$jumbotron-list: "about", "contact", "faq", "gift_box", "media", "moonfest", "newyear", "partner", "products", "shopping_guide", "single_product", "soap", "soapstring", "trial";

@each $item in $jumbotron-list {
	#jumbotron-#{$item} {
		background-image: url(/resource/img/jumbotrons/#{$item}.jpg);
	}
}

.img-jumbotron {
	position: relative;
	width: 100vw;
	height: 33.75vw;	// ( 486 / 1440 )
	text-align: center;
	background-size: contain;
	background-repeat: no-repeat;
	z-index: 0;
	&::before {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.5);
		z-index: -1;
	}
}

.jumbotron-title,
.jumbotron-only-title,
.jumbotron-subtitle {
	margin: 0 auto;
	color: #fff;
	font-weight: 100;
	letter-spacing: 0.18em;
}

.jumbotron-title {
	padding-top: 3.75vw;
	line-height: 14vw;
}

.jumbotron-only-title {
	line-height: 33.75vw;
}

.jumbotron-subtitle {
	line-height: 6vw;
}

.jumbotron-btn > .primary-btn {
	letter-spacing: 2px;
}

// Laptop
@media screen and (min-width: $media-breakpoint-mobile + 1px) {
	.jumbotron-title,
	.jumbotron-only-title {
		font-size: 60px;
	}

	.jumbotron-subtitle {
		font-size: 24px;
	}

	.jumbotron-btn > .primary-btn {
		padding: 16px 36px;
		font-size: 18px;
	}

	#jumbotron-trial {
		position: relative;

		.jumbotron-title {
			display: none;
		}

		.jumbotron-btn {
			position: absolute;
			top: 75%;
			right: 20%;
			transform: translate(50%, -50%);
		}
	}
}

// Mobile
@media screen and (max-width: $media-breakpoint-mobile) {
	.jumbotron-title,
	.jumbotron-only-title {
		font-size: 32px;
	}

	.jumbotron-subtitle {
		font-size: 16px;
	}

	.jumbotron-btn > .primary-btn {
		padding: 8px 25px;
		font-size: 16px;
	}
}

/* =========================================================================
 * Footer
 * =========================================================================
 */

$footer-title-font-size: 12px;
// default -- $footer-text-font-size: 16px;
$footer-font-weight: 200;
$footer-line-height: 1.7;

#footer {
	width: 100%;
	box-sizing: border-box;
	padding: 40px 0 20px;
	background-color: $bg-orange;
	color: #fff;
	font-weight: $footer-font-weight;
	line-height: $footer-line-height;
	.fa {
		color: rgba(255, 255, 255, 0.5);
		transition: color 0.3s;
	}
}

.footer-menu:not(#company-info) .footer-main-link {
	display: block;
}

.footer-title {
	margin: 20px auto;
	font-size: $footer-title-font-size;
}

.footer-main-link {
	margin-bottom: 6px;
	text-decoration: none;
	color: #fff;
	transition: color 0.3s;
	&:hover {
		color: #000;
		.fa {
			color: #000;
		}
	}
}

// Laptop
@media screen and (min-width: $media-breakpoint-mobile + 1px) {
	$footer-row-2-height: 60px;

	#footer {
		display: grid;
		grid-template-column: 8% 3fr 2fr 2fr 2fr 3fr 8%;
		grid-template-row: auto 40px $footer-row-2-height;
	}

	@for $i from 1 through 4 {
		.footer-menu:nth-child(#{$i}) {
			grid-column: calc( 2 + #{$i} ) / span 1;	// out of 8
			grid-row: 1 / 2;	// out of 4
		}
	}

	#community {
		grid-column: 2 / span 1;	// out of 8
		grid-row: 3 / 4;	// out of 4
		.footer-main-link {
			line-height: $footer-row-2-height;
		}
	}

	#copyright {
		grid-column: 3 / span 3;	// out of 8
		grid-row: 3 / 4;	// out of 4
	}
}

// Mobile
@media screen and (max-width: $media-breakpoint-mobile) {
	.footer-menu,
	#community,
	#copyright {
		width: 100%;
		text-align: center;
	}
}


/* =========================================================================
 * 登陸頁面元件｜Landing Pages
 * =========================================================================
 */

$lp-orange: #f18c41;
$lp-yellow: #f6a326;
$lp-border-radius: 8px;

.lp-bg-orange {
	background-color: $bg-orange;
	color: #fff;
}

.lp-title,
.lp-subtitle,
.lp-text {
	letter-spacing: $main-text-letter-spacing;
	line-height: $main-text-line-height;
}

.lp-title {
	font-size: 48px;
}

.lp-subtitle {
	font-size: 30px;
	&.lp-bg-orange {
		display: inline-block;
		margin: 0;
		padding: 0.5em;
		background-color: rgba(241, 140, 65, 0.5);
	}
}

.lp-text {
	margin: 2em 0;
	font-size: 22px;
	font-weight: 300;
}

ul.lp-text {
	list-style: none;
}

.lp-text-sep {
	margin-top: 0.5em;
	border-bottom: 2px #fff solid;
	padding-bottom: 0.5em;
}

.lp-orange-btn {
	@include btn($lp-orange, $lp-orange, #fff, lighten($lp-orange, 10%), lighten($lp-orange, 10%));
}

.lp-white-btn {
	@include btn(#fff, #fff, $lp-orange, false, false, lighten($lp-orange, 10%));
}

.lp-orange-btn,
.lp-white-btn {
	border-radius: $lp-border-radius;
	font-size: 30px;

	// Laptop
	@media screen and (min-width: $media-breakpoint-mobile + 1px) {
		padding: 16px 30px;
	}

	// Mobile
	@media screen and (max-width: $media-breakpoint-mobile) {
		padding: 6px 25px;
	}
}

.lp-mark {
	// calc((3.5em + 0.0625em * 2 * 2 + 4em / 3 + 692.16px) / 84 * 100);
	$lp-mark-show-width: 1113px;

    display: inline-block;
    width: 3em;
    height: 3em;
    border: 0.0625em solid #fff;
    border-radius: 8px;
    padding: 0.5em 0 0.5em 0.5em;
    letter-spacing: 0.5em;
    line-height: 1.5em;
    font-size: 3em;
    vertical-align: middle;
    & + .lp-content-left {
		display: inline-block;
		vertical-align: middle;
		// Laptop
		@media screen and (min-width: $lp-mark-show-width + 1px) {
			margin-left: 4em;
		}
    }

	@media screen and (max-width: $lp-mark-show-width) {
		display: none;
	}
}

.lp-round {
	display: flex;
	flex-direction: column;
	align-items:center;
	border-radius: 50%;
	text-align: center;
	background-color: #fff;
	color: $main-font-color;

	.lp-title {
		margin-bottom: 0;
	}

	.lp-text {
		margin: 1em 0;
	}
}

.lp-customer-feedbacks {
	$lp-cf-padding: 0.8em;

	letter-spacing: $main-text-letter-spacing;
	line-height: $main-text-line-height;

	// Laptop
	@media screen and (min-width: $media-breakpoint-mobile + 1px) {
		display: flex;
		justify-content: center;
	}

	.lp-cf {
		// Laptop
		@media screen and (min-width: $media-breakpoint-mobile + 1px) {
			width: 25%;
			margin: 0 3%;
		}

		// Mobile
		@media screen and (max-width: $media-breakpoint-mobile) {
			margin: 3em auto;
		}
	}

	.lp-cf-head {
		padding: $lp-cf-padding $lp-cf-padding 0;
		font-size: 22px;
	}

	.lp-cf-title {
		margin: 0;
		border: 2px solid $lp-orange;
		border-bottom: none;
		padding: 0.5em;
		color: $lp-orange;
	}

	.lp-cf-content {
		padding: 0 $lp-cf-padding $lp-cf-padding;
		font-size: 22px;
	}

	.lp-cf-text {
		margin: 0;
		border: 2px solid #fff;
		border-top: none;
		padding: 2 * $lp-cf-padding $lp-cf-padding;
		text-align: justify;
	}
}

[class^=lp-text-cover] {
	.lp-title,
	.lp-subtitle,
	.lp-text {
		color: #fff;
	}

	.lp-title {
		text-align: center;
	}

	&.lp-content-left,
	&.lp-content-right {
		.lp-title,
		.lp-text {
			text-align: inherit;
		}
	}

	.lp-text {
		text-align: left;
	}

	// Laptop
	@media screen and (min-width: $media-breakpoint-mobile + 1px) {
		padding: 1em;
	}

	// Mobile
	@media screen and (max-width: $media-breakpoint-mobile) {
		padding: 1em 2em;
	}
}

.lp-text-cover-light {
	background-color: rgba(255, 255, 255, 0.6);
}

.lp-text-cover-dark {
	background-color: rgba(0, 0, 0, 0.2);
}

.lp-section {
	width: 100%;
	box-sizing: border-box;
	padding: 60px 8%;
}

// img backgrounds settings

.lp-image-background {
	position: relative;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-color: #fff;
	color: #fff;
	z-index: 0;
	&.lp-ib-cover::before {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.3);
		z-index: -1;
	}

	&:not(#lp-three-elements) [class^=lp-text-cover] {
		display: inline-block;
		border-radius: $lp-border-radius;
		padding: 1em 4em;
	}
}

.lp-image-background#lp-three-elements {
	background-image: url(/resource/img/landingpage/three-elements.jpg);
}

.lp-image-background#lp-img-social-welfare {
	background-image: url(/resource/img/landingpage/social-welfare.jpg);
}

.lp-image-background#lp-img-peasant-farmer {
	background-image: url(/resource/img/landingpage/peasant-farmer.jpg);
}

.lp-image-background#lp-img-cold-handmade {
	background-image: url(/resource/img/landingpage/cold-handmade.jpg);
}

.lp-image-background#lp-img-no-chemical {
	background-image: url(/resource/img/landingpage/no-chemical.jpg);
}

.lp-image-background#lp-img-long-time-develop {
	background-image: url(/resource/img/landingpage/long-time-develop.jpg);
}

.lp-image-background#lp-img-for-travel {
	background-image: url(/resource/img/landingpage/for-travel.jpg);
}

.lp-image-background#lp-img-foam-fest {
	background-image: url(/resource/img/landingpage/foam-fest.jpg);
}

.lp-image-background#lp-img-natural-oil {
	background-image: url(/resource/img/landingpage/natural-oil.jpg);
}

.lp-image-background#lp-img-easy-to-carry {
	background-image: url(/resource/img/landingpage/easy-to-carry.jpg);
}

.lp-image-background#lp-img-essential-oil {
	background-image: url(/resource/img/landingpage/essential-oil.jpg);
}

.lp-image-background#lp-img-welfare-produce-together {
	background-image: url(/resource/img/landingpage/welfare-produce-together.jpg);
}

.lp-image-background#lp-img-multiple-uses {
	background-image: url(/resource/img/landingpage/multiple-uses.jpg);
}

.lp-image-background#lp-img-teng-partner {
	background-image: url(/resource/img/landingpage/teng-partner.jpg);
}

.lp-image-background#lp-img-cold-pro {
	background-image: url(/resource/img/landingpage/cold-pro.jpg);
}

.lp-image-background#lp-img-listen-to-earth {
	background-image: url(/resource/img/landingpage/listen-to-earth.jpg);
}

.lp-image-background#lp-img-retarded-produce-together {
	background-image: url(/resource/img/landingpage/retarded-produce-together.jpg);
}

.lp-image-background#lp-img-media-report {
	background-image: url(/resource/img/landingpage/media-report.jpg);
}

.lp-content-left {
	text-align: left;
	&.lp-text-opposite-side {
		.lp-title,
		.lp-subtitle,
		.lp-text {
			text-align: right;
		}
	}
}

.lp-content-right {
	text-align: right;
	&.lp-text-opposite-side {
		.lp-title,
		.lp-subtitle,
		.lp-text {
			text-align: left;
		}
	}
}

@media screen and (max-width: $media-breakpoint-mobile) {
	.lp-section,
	[class^=lp-text-cover] {
		& > .lp-text > br {
			display: none;
		}
	}

	[class^=lp-content] .lp-text,
	.lp-content-right .lp-text,
	.lp-content-left.lp-text-opposite-side .lp-text {
		text-align: left;
	}
}

.lp-plain-text {
	text-align: center;
	&.lp-content-left {
		text-align: left;
	}
	&.lp-content-right {
		text-align: right;
	}

	.lp-title {
		color: $lp-orange;
	}

	.lp-subtitle,
	.lp-text {
		color: $main-font-color;
	}

	.lp-text.lp-bg-orange {
		padding: 2em;
		color: #fff;
	}
}

.lp-text-list .lp-text {
	margin-left: 10%;
	text-align: left;
	&::before {
		content: '';
		display: inline-block;
		width: 1em;
		height: 1em;
		margin-right: 0.5em;
		border: 2px solid $lp-orange;
		border-radius: 1em;
		background-color: transparent;
	}
}

.lp-interlaced-text {
	// Laptop
	@media screen and (min-width: $media-breakpoint-mobile + 1px) {
		.lp-title,
		.lp-text:nth-child(odd) {
			text-align: left;
		}

		.lp-title:last-child,
		.lp-text:nth-child(even) {
			text-align: right;
		}
	}
}

.lp-classic-border {
	border: 3px #fff solid;
	box-sizing: border-box;
	padding: 32px;
	text-align: right;

	.lp-title,
	.lp-text {
		text-align: center;
	}
}

.lp-certificate {
	background-color: $lp-yellow;
	color: #fff;

	.trisoap-logo {
		@extend .full-width-img;
	}

	.lp-round {
		width: 16em;
		height: 16em;
		text-align: left;
		color: $lp-yellow;

		@media screen and (max-width: 19.04em) {
			// 16em / (100 - 8 * 2)% * 100% ~= 19.04em
			display: none;
		}

		.lp-title {
			position: relative;
			margin: 0.4em 2em 0.4em 0;

			&::after {
				content: '';
				position: absolute;
				width: 370%;
				left: 0;
				bottom: 0;
				border-bottom: 1px solid $lp-yellow;

			}
		}

		.lp-text {
			margin: 0;
		}
	}

	// Laptop
	@media screen and (min-width: $media-breakpoint-mobile + 1px) {
		display: flex;
		justify-content: space-around;
	}

	// Mobile
	@media screen and (max-width: $media-breakpoint-mobile) {
		.trisoap-logo {
			display: none;
		}
	}
}

.lp-certificate-content {
	// Laptop
	@media screen and (min-width: $media-breakpoint-mobile + 1px) {
		display: grid;
		grid-template-columns: auto 16em;
		grid-template-rows: auto auto;
		align-items: center;
		width: 80%;

		& > .lp-title {
			grid-column: 1 / 3;
			grid-row: 1 / 2;
			margin: 0;
		}

		& > .lp-text {
			grid-column: 1 / 2;
			grid-row: 2 / 3;
			margin: 1em 1em 1em 0;
		}

		.lp-round {
			grid-column: 2 / 3;
			grid-row: 2 / 3;
		}
	}

	// Mobile
	@media screen and (max-width: $media-breakpoint-mobile) {
		text-align: center;

		.lp-round {
			margin: 0 auto;
		}
	}
}

#lp-three-elements {
	& > .lp-title {
		color: #fff;
		text-align: center;
	}

	// Laptop
	@media screen and (min-width: $media-breakpoint-mobile + 1px) {
		border-spacing: 4em;

		[class^=lp-text-cover] {
			display: table-cell;
			width: 20%;
		}
	}

	// Mobile
	@media screen and (max-width: $media-breakpoint-mobile) {
		[class^=lp-text-cover] {
			margin: 2em 0;
		}
	}
}

#lp-three-insistence > .lp-title {
	color: #fff;
	text-align: center;
}

.lp-three-rounds {
	.lp-round {
		justify-content:center;

		// Laptop
		@media screen and (min-width: $media-breakpoint-mobile + 1px) {
			.lp-title {
				font-size: 32px;
			}

			.lp-text {
				font-size: 18px;
			}
		}

		@media screen and (min-width: 768px) and (max-width: $media-breakpoint-mobile) {
			.lp-title {
				font-size: 24px;
			}

			.lp-text {
				font-size: 14px;
			}
		}

		// Mobile
		@media screen and (max-width: 533px) {
			.lp-title {
				font-size: 32px;
			}

			.lp-text {
				font-size: 18px;
			}
		}
	}

	// Laptop
	@media screen and (min-width: 768px) {
		display: flex;
		justify-content: space-around;

		.lp-round {
			width: 25vw;
			height: 25vw;
		}
	}

	// Mobile
	@media screen and (max-width: 767px) {
		.lp-round {
			width: 75vw;
			height: 75vw;
			margin: 2em auto;
		}
	}
}

.lp-cta .add-to-cart-link {
	display: inline-block;
	margin-top: 1em;

	.cart-icon {
		width: 72px;
	}
}

#lp-img-no-chemical .lp-text {
	border-left: 1px solid #fff;
	padding-left: 1em;
}

#lp-img-teng-partner {
	position: relative;

	// Laptop
	@media screen and (min-width: $media-breakpoint-mobile + 1px) {
		.lp-circle {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 4em;
			height: 4em;
			border-radius: 50%;
			border: 2px solid #fff;
			text-align: center;
		}

		#lp-circle-chihshang-rice,
		#lp-circle-lily {
			position: absolute;
			top: 4%;
		}

		#lp-circle-chihshang-rice {
			right: 35%;
		}

		#lp-circle-lily {
			right: 15%;
		}
	}

	// Mobile
	@media screen and (max-width: $media-breakpoint-mobile) {
		.lp-circle {
			display: none;
		}
	}
}

/* =========================================================================
 * Contents
 * 1. 首頁｜Index Page
 * 2. 媒體報導｜Media
 * 3. 試用品申請｜Trial
 * 4. 顧客問答（常見問題）｜FAQ
 * 5. 合作夥伴｜Partner
 * 6. 三三團隊｜About
 * 7. 聯絡我們｜Contact
 * 8. 購物須知｜Shopping Guide
 * 9. 單品 / 旅用皂絲｜Soap / Soapstring
 * 10. 客製化專區｜Customize
 * =========================================================================
 */

/* -------------------------------------------------------------------------
 * 1. 首頁｜Index Page
 * 1.1.1. 活動影片 Activity videos
 * 1.2. 三個故事 Slogan
 * 1.3. 首頁 Landing Page - See 11. 登陸頁面元件｜Landing Pages
 * -------------------------------------------------------------------------
 */

/* 1.1.1. 活動影片 Activity videos */

.act-video-wrap {
	text-align: center;
}

.act-video-iframe {
	position: relative;
	height: 0;
	padding-bottom: 100% * 9 / 16;

	iframe {
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		right: 0;
		bottom: 0;
	}
}

// Laptop
@media screen and (min-width: $media-breakpoint-mobile + 1px) {
	.act-video {
		display: inline-block;
		width: 30%;
		margin: 0 1%;
	}
}

/* 1.2. 三個故事 Slogan - Shared Slogan Properties */

/* 1.3. 首頁 Landing Page - See 11. 登陸頁面元件｜Landing Pages */

/* -------------------------------------------------------------------------
 * 2. 媒體報導｜Media
 * -------------------------------------------------------------------------
 */

.media-link {
	text-decoration: none;
}

// Laptop
@media screen and (min-width: $media-breakpoint-mobile + 1px) {
	.media-link {
		display: inline-block;
		margin: 30px 20px;
	}
}

// Mobile
@media screen and (max-width: $media-breakpoint-mobile) {
	.media-link {
		display: block;
		width: 100%;
		margin: 20px auto;
		text-align: center;
	}
}

/* -------------------------------------------------------------------------
 * 3. 試用品申請｜Trial
 * -------------------------------------------------------------------------
 */

/* Landing Page */

/* -------------------------------------------------------------------------
 * 4. 顧客問答（常見問題）｜FAQ
 * -------------------------------------------------------------------------
 */

#faq-accordion {
	margin: 60px 8%;
	/* Completed by shared properties - accordians */
}

/* -------------------------------------------------------------------------
 * 5. 合作夥伴｜Partner
 * -------------------------------------------------------------------------
 */

#partner-accordion {
	margin: 60px 8%;
	/* Completed by shared properties - accordians */
	& > .accordion {
		padding-left: 0;
		padding-right: 0;
	}
}

.partner-logo {
	max-width: 150px;
	height: auto;
}

// for those partners without logo img
.partner-text:first-child {
	margin-top: 0;
}

/* -------------------------------------------------------------------------
 * 6. 三三團隊｜About
 * -------------------------------------------------------------------------
 */

.lp-image-background#lp-img-three-stories {
	background-image: url(/resource/img/landingpage/three-stories.jpg);
}

#lp-img-three-stories {
	min-height: 56vw;	// background-image: 1440px * 808px, 808 / 1440 ~= 0.561
}

.about-member-img {
	border-radius: 50%;
}

#about-other-members > .about-member > .about-member-intro {
	& > .lp-subtitle,
	& > .lp-text {
		display: inline-block;
		vertical-align: middle;
	}
}

// Laptop
@media screen and (min-width: $media-breakpoint-mobile + 1px) {
	.about-member-img {
		width: 100%;
		height: auto;
	}

	#about-member-master {
		.about-member-img-wrap,
		.about-member-intro {
			display: inline-block;
			vertical-align: middle;
		}

		.about-member-img-wrap {
			width: 30%;
		}

		.about-member-intro {
			width: 60%;
			box-sizing: border-box;
			padding: 0 0 0 9%;
		}
	}

	#about-other-members {
		display: flex;
		justify-content: space-around;

		.about-member {
			width: 30%;
		}
	}
}

// Mobile
@media screen and (max-width: $media-breakpoint-mobile) {
	#lp-img-three-stories > .lp-subtitle.lp-bg-orange {
		color: #fff;
	}

	.about-member-img {
		width: 70%;
		height: auto;
	}

	#about-member-master {
		margin-bottom: -44px;	// -2em for content's .lp-text margin
		padding-bottom: 0;
	}
}

/* -------------------------------------------------------------------------
 * 7. 聯絡我們｜Contact
 * -------------------------------------------------------------------------
 */

#contact-subject {
	margin: 60px $wrap-lr-margin 0;
}

#contact-form .form-field {
	padding-top: 10px;
	padding-bottom: 10px;
}

#contact-form-name,
#contact-form-email,
#contact-form-phone,
#contact-form-message,
#contact-form .submit-btn {
	display: block;
	width: 100%;
	margin: 15px 0;
}

#contact-form-name,
#contact-form-email,
#contact-form-phone,
#contact-form-message {
	font-size: 18px;
}

#contact-info {
	color: $main-font-color;
	font-weight: 300;
	letter-spacing: $main-text-letter-spacing;
	line-height: $main-text-line-height;
}

// Laptop
@media screen and (min-width: $media-breakpoint-mobile + 1px) {
	#contact {
		display: grid;
		grid-template-columns: 8% 3fr 4% 2fr 8%;
		grid-template-rows: 60px auto 60px;
		align-items: center;
	}

	#contact-map {
		height: 400px;
		grid-column: 2 / 3;	// out of 6
		grid-row: 2 / 3;	// out of 4
	}

	#contact-form {
		grid-column: 4 / 5;	// out of 6
		grid-row: 2 / 3;	// out of 4
	}
}

// Mobile
@media screen and (max-width: $media-breakpoint-mobile) {
	$contact-lr-margin: 8%;

	#contact {
		margin: 40px $contact-lr-margin;
	}

	#contact-map {
		height: 220px;
	}
}

/* -------------------------------------------------------------------------
 * 8. 購物須知｜Shopping Guide
 * -------------------------------------------------------------------------
 */

#guide-wrap {
	color: $main-font-color;
}

.guide-anchor,
.guide-link {
	text-decoration: none;
	color: #EA8B3B;
	font-weight: 300;
}

#guide-content {
	padding: 0 $wrap-lr-margin;
}

.guide-title {
	margin-bottom: 35px;
	color: #000;
	font-weight: normal;
	letter-spacing: 0.18em;
}

.guide-subtitle {
	margin-bottom: 20px;
	font-weight: 300;
	letter-spacing: 0.18em;
}

.guide-icon {
	width: 25px;
	height: auto;
}

.guide-text {
	margin-bottom: 35px;
	letter-spacing: $main-text-letter-spacing;
	line-height: $main-text-line-height;
}

#shop-guide {
	margin-top: 40px;
}

/* -------------------------------------------------------------------------
 * 9. 單品 / 旅用皂絲｜Soap / Soapstring
 * 9.1. 商品全覽頁｜Products
 * 9.2. 單項商品頁｜Single Product
 * -------------------------------------------------------------------------
 */

/* 9.1. 商品全覽頁｜Products */

.products-wrap {
	& > .slogan-title {
		margin: 35px auto;
	}
	& > .slogan {
		color: $main-font-color;
		line-height: $main-text-line-height;;
	}
}

.products .main-content-title,
#category-guide,
.products .product {
	padding-left: 20px;
	padding-right: 20px;
}

.product-link {
	text-decoration: none;
	color: $main-font-color;
	transition: color .3s;
	font-weight: normal;
	&:hover {
		color: #222;
	}
}

// product category title
.main-content-title .product-link {
	font-weight: inherit;
}

#category-guide {
	margin: 1em 0;
}

.products {
	display: flex;
	flex-flow: row wrap;

	.main-content-title {
		width: 100%;
	}
}

.product {
	box-sizing: border-box;
	text-align: center;
}

.product-cover {
	position: relative;
	overflow: hidden;
	transform: translateZ(0);
}

.product-cover-img {
	display: block;
	@extend .full-width-img;
}

.product-add-to-cart {
	position: absolute;
	bottom: 0;
	background-color: rgba(255, 255, 255, 0.6);
}

.product-info {
	margin: 1.5em 0 1em;
}

.product .product-link,
.product-price {
	font-weight: 300;
}

.product .product-link {
	font-size: 18px;
}

.product-price {
	color: $main-font-color;
	font-size: 23px;
}

// Laptop
@media screen and (min-width: $media-breakpoint-mobile + 1px) {
	.product {
		width: 33%;
		padding-top: 40px;
		padding-bottom: 40px;
	}

	.product-add-to-cart {
		width: 100%;
		margin-bottom: -4em;
		padding: 0.4em 0;
		transition: margin 0.3s;
		a {
			text-decoration: none;
			color: #fff;
		}
		.cart-icon {
			width: 30px;
			height: auto;
		}
	}

	.product-cover:hover {
		.product-cover-img {
			transform: scale(1.1);
		}

		.product-add-to-cart {
			margin-bottom: 0;
		}
	}

	.product-cover-img {
		transition: transform 0.3s;
	}
}

// Mobile
@media screen and (max-width: $media-breakpoint-mobile) {
	.product {
		width: 100%;
		padding-top: 10px;
		padding-bottom: 10px;
	}

	$product-add-to-cart-mobile-radius: 18px;

	.product-add-to-cart {
		right: 0;
		width: 2 * $product-add-to-cart-mobile-radius;
		height: 2 * $product-add-to-cart-mobile-radius;
		margin: 6px;
		box-sizing: border-box;
		border-radius: $product-add-to-cart-mobile-radius;
		padding: 6px;

		.cart-icon {
			width: 24px;
			height: auto;
		}
	}
}

/* 9.2. 單項商品頁｜Single Product */

// Laptop
@media screen and (min-width: $media-breakpoint-mobile + 1px) {
	#single-product-wrap {
		display: flex;
		flex-flow: row wrap;
	}

	#single-product-carousel,
	#single-product-desc {
		width: 50%;
		box-sizing: border-box;
		padding: 0 25px;
	}
}

// Mobile
@media screen and (max-width: $media-breakpoint-mobile) {
	#single-product-carousel,
	#single-product-desc {
		width: 100%;
	}

	#single-product-carousel {
		margin-bottom: 35px;
	}
}

#single-product-accordion > .ui-accordion-header {
	margin-bottom: 1em;
	padding: 10px 15px;
	border-bottom: 1px solid #ddd;
	background-color: #f5f5f5;
	color: #000;
	transition: color .3s;
	font-weight: normal;
	line-height: 1.5;
	letter-spacing: 0.18em;
	&.ui-state-hover {
		color: #666;
	}
}

.ui-accordion .ui-accordion-content {
	padding-top: 0;
}

#single-product-desc .main-content-title,
#single-product-desc #single-product-price {
	display: inline-block;
	margin: 0 0 13px;
}

#single-product-price {
	color: $main-font-color;
	font-weight: 200;
	line-height: 1.5;
	letter-spacing: 0.18em;
}

label[for="purchase-amount"],
#purchase-amount,
#single-product-purchase > .add-to-cart-link {
	vertical-align: middle;
}

#purchase-amount,
#single-product-purchase > .add-to-cart-link {
	display: inline-block;
	margin: 13px 6px;
}

#purchase-amount {
	min-width: 66px;
	max-width: 120px;
}

label[for="purchase-amount"] {
	color: $main-font-color;
}

/* -------------------------------------------------------------------------
 * 10. 客製化專區｜Customize
 * -------------------------------------------------------------------------
 */

#customize-wrap {
	width: 100%;
	margin-top: $main-nav-height;	// this page has no header
}

#customize-content-img {
	display: block;
	@extend .full-width-img;
}
