/*
 * Import fonts
 */

@import url('https://fonts.googleapis.com/css?family=Great+Vibes');

/* =========================================================================
 * CSS Normalization
 * =========================================================================
 */

@import 'normalize';

h1, h2, h3, h4, h5, h6, p, span, div, a, label {
	font-family: sans-serif;
}

/* z-index Scale: -1 - 10
 * -1:
 *  0:
 *  1:
 *  2:
 *  3:
 *  4:
 *  5:
 *  6:
 *  7:
 *  8:
 *  9:
 *  10:
 */

$bg-orange: #F18C41;
$main-font-color: #555;

