/* =========================================================================
 * CSS Normalization
 * =========================================================================
 */

@import 'general';

.sign-wrap {
	display: flex;
	width: 100%;
	min-height: 100vh;
	justify-content: center;
	align-items: center;
	background: url(/resource/img/jumbotrons/single_product.jpg) center center no-repeat;
	background-size: cover;
}

.sign {
	margin: 40px auto;
	border-radius: 16px;
	box-sizing: border-box;
	background-color: rgba(255, 255, 255, 0.63);
	overflow: auto;
	table {
		line-height: 1.5;
	}
	label {
		display: inline-block;
		margin: 6px auto;
	}
	input,
	textarea {
		max-width: 92%;
	}
	[class*='-btn'] {
		display: inline-block;
		margin: 2px auto;
	}
	.text-sep-sm {
		border-color: #999;
	}
}

.sign-block {
	padding: 10px 0;
}

// Laptop
@media screen and (min-width: $media-breakpoint-mobile + 1px) {
	$sign-width: 40%;
	.sign {
		width: $sign-width;
		padding: 40px ($wrap-lr-margin * $sign-width / 100%);
	}
}

// Mobile
@media screen and (max-width: $media-breakpoint-mobile) {
	$sign-width: 80%;
	.sign {
		width: $sign-width;
		padding: 8% ($wrap-lr-margin * $sign-width / 100%);
	}
}

/* =========================================================================
 * Member
 * =========================================================================
 */

/* -------------------------------------------------------------------------
 * 註冊會員｜Signup
 * -------------------------------------------------------------------------
 */

#personal-info-protect-act {
	width: 92%;
}

