		<main>
			<div class="lp-section lp-plain-text lp-content-left">
				<picture>
					<source srcset="resource/img/about/about-trisoap.webp" type="image/webp">
					<img class="full-width-img" src="resource/img/about/about-trisoap.jpg" alt="關於三三">
				</picture>
				<p class="lp-text">
					2015年我們發現全臺灣超過一百多家的社區日間照顧作業設施（簡稱小作所），面臨到多重的經營困難，包含缺乏品牌、通路、行銷、人力、慈善行銷等等問題。小作所的產品很多，從手工皂到餅乾、手作藝術品到盆栽植物都有，其中我們發現做手工皂是孩子們最期待也最喜歡的工作之一。
				</p>
				<p class="lp-text">
					因為教保員的一句話，開啟了三三吾鄉這條社會企業之路。
				</p>
			</div>
			<div class="lp-section lp-bg-orange lp-content-left">
				<p class="lp-title">
					“他們很喜歡做皂，<br>
					但我們都怕做出來賣不出去”
				</p>
			</div>
			<div class="lp-section lp-plain-text lp-content-left">
				<p class="lp-subtitle">
					社會企業，全新商品全新模式。
				</p>
				<p class="lp-text">
					於是三三吾鄉就由三個臺大的學生成立了，我們選擇用社會企業的模式，透過三三專精技術與在地小農研發出特色單品皂，堅持使用最繁雜的冷製製程，並晾皂超過33天，最繁雜的手工程序，但卻帶來幾個優點，一是做出讓我們自信團隊無負評的高品質皂款，二是讓我們的身障學員在做的過程當中也能夠提供手部動作的復健。三三將皂款免費技術移轉給合作的身障學員，讓他們穩定生產穩定就業。
				</p>
				<p class="lp-subtitle">
					一路走來，用笑容傳遞故事。
				</p>
				<p class="lp-text">
					從2015年學生創業到現在全職投入三三，我們走過了一段和一般公益不同的路。過程當中我們不斷傾聽每個人不同的聲音，聽我們的身障學員說他的夢想，聽我們的小農說種植的理念，更聽聽消費者為什麼選擇我們或喜歡我們。
				</p>
				<p class="lp-text">
					從最簡單的一款基本的皂款開始，手作打製。到現在融入眾多在地的素材，與全台灣各地的身障學員合作並陪伴培訓技術移轉，三三吾鄉的使命來自於我們想把手工皂還有身障學員的笑容傳遞給每個使用三三皂款的人。
				</p>
			</div>
			<div class="lp-section lp-plain-text lp-image-background" id="lp-img-three-stories">
				<p class="lp-subtitle lp-bg-orange">
					每一個三三皂洗起來，都像在聽皂和你說故事一樣。
				</p>
			</div>
			<div class="lp-section lp-plain-text" id="about-member-master">
				<div class="about-member-img-wrap">
					<picture>
						<source srcset="resource/img/about/pusher2.webp" type="image/webp">
						<img class="about-member-img" src="resource/img/about/pusher2.png" alt="三三吾鄉創辦人 尹又令">
					</picture>
				</div>
				<div class="about-member-intro">
					<p class="lp-subtitle">
						三三吾鄉<br>
						創辦人 尹又令
					</p>
					<p class="lp-text lp-content-left">
						當初要成立三三的時候我一直不斷地聽到老師和朋友告訴我：「你選擇了一條很辛苦的路！」一路走來如果說不辛苦是騙人的，但每次在接觸到一個新的合作案，或是培訓新的一批教保人員和身障學員的時候，他們總是會開心地笑著，然後對我說：「哥哥你下次還要再來哦！」不管聽了多少次，我都會再燃起一股能繼續走的動力。
					</p>
				</div>
			</div>
			<!--div class="lp-section lp-plain-text" id="about-other-members">
				<div class="about-member">
					<picture>
						<source srcset="resource/img/about/dodo.webp" type="image/webp">
						<img class="about-member-img" src="resource/img/about/dodo.jpg" alt="業務專員 陳多多">
					</picture>
					<div class="about-member-intro">
						<p class="lp-text">
							業務專員
						</p>
						<p class="lp-subtitle">
							陳多多
						</p>
					</div>
				</div>
				<div class="about-member">
					<picture>
						<source srcset="resource/img/about/sean.webp" type="image/webp">
						<img class="about-member-img" src="resource/img/about/sean.jpg" alt="資訊專員 陳劭恩">
					</picture>
					<div class="about-member-intro">
						<p class="lp-text">
							資訊專員
						</p>
						<p class="lp-subtitle">
							陳劭恩
						</p>
					</div>
				</div>
				<div class="about-member">
					<picture>
						<source srcset="resource/img/about/tim.webp" type="image/webp">
						<img class="about-member-img" src="resource/img/about/tim.jpg" alt="網頁專員 冷俊瑩">
					</picture>
					<div class="about-member-intro">
						<p class="lp-text">
							網頁專員
						</p>
						<p class="lp-subtitle">
							冷俊瑩
						</p>
					</div>
				</div>
			</div-->
		</main>
