		<main>
			<div id="fragrance-wrap">
				<picture>
					<img class="fragrance-content-img" src="resource/img/fragrance/fragrance-1.jpeg" alt="香氛磚介紹">
				</picture>
				<picture>
					<img class="fragrance-content-img" src="resource/img/fragrance/fragrance-2.jpeg" alt="香氛磚介紹">
				</picture>
				<picture>
					<img class="fragrance-content-img" src="resource/img/fragrance/fragrance-3.jpeg" alt="香氛磚介紹">
				</picture>
				<picture>
					<img class="fragrance-content-img" src="resource/img/fragrance/fragrance-4.jpeg" alt="香氛磚介紹">
				</picture>
				<picture>
					<img class="fragrance-content-img" src="resource/img/fragrance/fragrance-5.jpeg" alt="香氛磚介紹">
				</picture>
				<picture>
					<img class="fragrance-content-img" src="resource/img/fragrance/fragrance-6.jpeg" alt="香氛磚介紹">
				</picture>
				<picture>
					<img class="fragrance-content-img" src="resource/img/fragrance/fragrance-7.jpeg" alt="香氛磚介紹">
				</picture>
				<picture>
					<img class="fragrance-content-img" src="resource/img/fragrance/fragrance-8.jpeg" alt="香氛磚介紹">
				</picture>
				<picture>
					<img class="fragrance-content-img" src="resource/img/fragrance/fragrance-9.jpeg" alt="香氛磚介紹">
				</picture>
				<picture>
					<img class="fragrance-content-img" src="resource/img/fragrance/fragrance-10.jpeg" alt="香氛磚介紹">
				</picture>
				<picture>
					<img class="fragrance-content-img" src="resource/img/fragrance/fragrance-11.jpeg" alt="香氛磚介紹">
				</picture>
			</div>
		</main>
