		<main>
			<div class="main-wrap act-video-wrap">
				<div class="act-video">
					<h3 class="main-content-title">
						客家電視台-<br>
						三三吾鄉創業全記錄完整紀實
					</h3>
					<div class="act-video-iframe">
						<iframe src="https://www.youtube-nocookie.com/embed/_Uvr2s6fJPU?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
					</div>
				</div>
				<div class="act-video">
					<h3 class="main-content-title">
						婚禮小物-用幸福傳遞平凡
					</h3>
					<div class="act-video-iframe">
						<iframe src="https://www.youtube-nocookie.com/embed/sdu3W99DRGc?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
					</div>
				</div>
				<div class="act-video">
					<h3 class="main-content-title">
						生命力新聞-三三吾鄉打皂溫暖故事
					</h3>
					<div class="act-video-iframe">
						<iframe src="https://www.youtube-nocookie.com/embed/hSueVfABE6U?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
					</div>
				</div>
			</div>
			<div class="slogan-wrap">
				<h2 class="slogan-title">
					我們走的那條三三路: 3種元素 x 3個堅持
				</h2>
			</div>
			<div class="lp-section lp-image-background lp-ib-cover" id="lp-three-elements">
				<p class="lp-title">
					三三的每樣產品背後都有 3 個元素
				</p>
				<div class="lp-text-cover-light">
					<p class="lp-title lp-text-sep">
						在地小農
					</p>
					<p class="lp-text">
						合作超過 20 家台灣在地小農<br>
						深入農田傾聽土地聲音。
					</p>
				</div>
				<div class="lp-text-cover-light">
					<p class="lp-title lp-text-sep">
						身障社福
					</p>
					<p class="lp-text">
						合作超過 6 家台灣身障小作所<br>
						長期培訓與陪伴增加身障朋友就業
					</p>
				</div>
				<div class="lp-text-cover-light">
					<p class="lp-title lp-text-sep">
						社會企業
					</p>
					<p class="lp-text">
						以解決社會問題為出發的商業模式<br>
						創新手法回饋社會。
					</p>
				</div>
			</div>
			<div class="lp-section lp-image-background lp-ib-cover lp-content-right lp-text-opposite-side" id="lp-img-social-welfare">
				<p class="lp-title">
					陪伴社福身障走一段長遠的路
				</p>
				<p class="lp-text">
					相對於使用大型機器大量生產降低成本，<br>
					三三選擇將花費數個月的心力研發出的特色單品皂，<br>
					將技術完整轉移交給身障學員生產，<br>
					目前合作的日間照顧作業設施（小作所）已多達6間，<br>
					所合作涵蓋在內更多達 100 位身障學員。<br>
					從認識彼此到培訓、帶活動實作上課程，<br>
					每一個皂一點一滴的累計秤量攪皂入模晾皂，<br>
					看著學員手把手的進步，<br>
					也等同於看見他們又露出自信的笑容。
				</p>
			</div>
			<div class="lp-section lp-certificate">
				<picture>
					<source srcset="resource/img/misc/logo-highlight.svg" type="image/svg+xml">
					<img class="trisoap-logo" src="resource/img/misc/logo-highlight.png" alt="三三吾鄉皂 logo">
				</picture>
				<div class="lp-certificate-content">
					<p class="lp-title">
						“全台灣最多公益小作所指定合作社會企業品牌”
					</p>
					<p class="lp-text">
						兩年多的努力和耕耘，三三集結眾多台灣在地小農和小作所，所服務小作所多達 6 間，累積超過 100 位合作身障學員。
					</p>
					<div class="lp-round">
						<p class="lp-title">
							SE
						</p>
						<p class="lp-text">
							經濟部<br>
							社會企業認證
						</p>
					</div>
				</div>
			</div>
			<div class="lp-section lp-image-background lp-ib-cover lp-content-left lp-text-opposite-side" id="lp-img-peasant-farmer">
				<p class="lp-title">
					和小農成為夥伴
				</p>
				<p class="lp-text">
					相對於使用大型機器耕作的慣行農法，<br>
					帶著有機無毒或自然農法等相關概念，<br>
					規模較小的自耕農稱之為小農。<br>
					為了增加皂的個性以及選取特色農品素材，<br>
					三三和臺灣東部小農成為夥伴，<br>
					親自到農田聽小農說故事和種植理念，<br>
					除了選取三三特色農品研發之外，<br>
					更與小農共同曝光共同行銷，<br>
					將台灣土地情感散播出去。
				</p>
			</div>
			<div class="lp-section lp-bg-orange" id="lp-three-insistence">
				<p class="lp-title">
					三三吾鄉的 3 大堅持
				</p>
				<div class="lp-three-rounds">
					<div class="lp-round">
						<p class="lp-title">
							堅持冷製
						</p>
						<p class="lp-text">
							堅持超過 12 道手作工序<br>
							33 天以上晾皂品質保證
						</p>
					</div>
					<div class="lp-round">
						<p class="lp-title">
							天然植物油
						</p>
						<p class="lp-text">
							採用誠香集認證<br>
							食品級植物油
						</p>
					</div>
					<div class="lp-round">
						<p class="lp-title">
							無化學添加
						</p>
						<p class="lp-text">
							保證無矽靈無防腐劑<br>
							無起泡劑無界面活性劑
						</p>
					</div>
				</div>
			</div>
			<div class="lp-section lp-image-background lp-ib-cover lp-content-left lp-text-opposite-side" id="lp-img-cold-handmade">
				<p class="lp-title">
					專精冷製手作
				</p>
				<p class="lp-text">
					冷製法是指在手製手工皂過程中<br>
					透過低溫攪製的方式保留植物油營養成分<br>
					12 道完整工序<br>
					從秤量到攪拌<br>
					從 LT 到 Trace<br>
					品質管控一點都不馬虎<br>
					就是要帶給消費者每個三三都放心的好產品
				</p>
			</div>
			<div class="lp-section lp-image-background lp-ib-cover lp-content-right" id="lp-img-natural-oil">
				<div class="lp-text-cover-dark">
					<p class="lp-title lp-text-sep">
						天然植物油多種配方
					</p>
					<p class="lp-text">
						採用誠香集認證天然植物油<br>
						精心調配多種配方<br>
						乾性、中性、油性、敏感型肌膚<br>
						對應多項肌膚設計不同配方皂絲款式<br>
						貼心為你量身而製
					</p>
				</div>
			</div>
			<div class="lp-section lp-image-background lp-ib-cover lp-content-right lp-text-opposite-side" id="lp-img-no-chemical">
				<p class="lp-title">
					無化學添加
				</p>
				<p class="lp-subtitle">
					只給你最必要的成分，最單純。
				</p>
				<ul class="lp-text">
					<li>X 化學色素染劑</li>
					<li>X 化學防腐劑</li>
					<li>X 化學界面活性劑</li>
					<li>X 矽靈</li>
					<li>X 化學增稠劑</li>
					<li>X 化學起泡劑</li>
				</ul>
			</div>
		</main>

