		<main>
			<div class="main-wrap products-wrap">
				<div id="category-guide">
					<a class="guide-link" href="index.php?route=products">商品一覽</a>
					<span>/</span>
					<a class="guide-link" href="index.php?route=soap">單品</a>
					<span>/</span>
					<a class="guide-link" href="index.php?route=soapstring">皂絲</a>
					<span>/</span>
					<a class="guide-link" href="index.php?route=gift_box">禮盒</a>
				</div>
				<p class="slogan">
					想在中秋送份有意義又體面的禮盒，<br>
					三三吾鄉中秋禮盒是您的不二選擇。<br>
					多家企業指定贈禮。
				</p>
				<h2 class="slogan-title">
					中秋，三三吾鄉與您團圓
				</h2>
				<h3 class="slogan">
					大方的剪裁配上三三吾鄉的金典款混搭，<br>
					活潑的風格和繽紛的色彩，<br>
					送給顧客一份歡樂和一份溫暖。<br>
					中秋禮皂系列是大器又體面的最佳選擇。
				</h3>
				<div class="products"></div>
			</div>
		</main>
