		<main>
			<div id="partner-wrap">
				<picture>
					<source srcset="resource/img/partner/partner_content_1.webp" type="image/webp">
					<img class="partner-content-img" src="resource/img/partner/partner_content_1.png" alt="公益合作社福夥伴">
				</picture>
				<picture>
					<source srcset="resource/img/partner/partner_content_2.webp" type="image/webp">
					<img class="partner-content-img" src="resource/img/partner/partner_content_2.png" alt="台東李勝賢文教基金會">
				</picture>
				<picture>
					<source srcset="resource/img/partner/partner_content_3.webp" type="image/webp">
					<img class="partner-content-img" src="resource/img/partner/partner_content_3.png" alt="自閉症基金會北投工坊">
				</picture>
				<picture>
					<source srcset="resource/img/partner/partner_content_4.webp" type="image/webp">
					<img class="partner-content-img" src="resource/img/partner/partner_content_4.png" alt="自閉症基金會士林工坊">
				</picture>
				<picture>
					<source srcset="resource/img/partner/partner_content_5.webp" type="image/webp">
					<img class="partner-content-img" src="resource/img/partner/partner_content_5.png" alt="信望愛智能發展中心">
				</picture>
				<picture>
					<source srcset="resource/img/partner/partner_content_6.webp" type="image/webp">
					<img class="partner-content-img" src="resource/img/partner/partner_content_6.png" alt="蒙恩聽障烘焙坊">
				</picture>
				<picture>
					<source srcset="resource/img/partner/partner_content_7.webp" type="image/webp">
					<img class="partner-content-img" src="resource/img/partner/partner_content_7.png" alt="微笑天使烘焙坊">
				</picture>
			</div>
		</main>
