		<main>
			<div id="partner-wrap">
				<picture>
					<source srcset="resource/img/partner/partner_content_1.webp" type="image/webp">
					<img class="partner-content-img" src="resource/img/partner/partner_content_1.png" alt="合作社福團體">
				</picture>
				<picture>
					<source srcset="resource/img/partner/partner_content_2.webp" type="image/webp">
					<img class="partner-content-img" src="resource/img/partner/partner_content_2.png" alt="台東李勝賢文教基金會">
				</picture>
				<picture>
					<source srcset="resource/img/partner/partner_content_3.webp" type="image/webp">
					<img class="partner-content-img" src="resource/img/partner/partner_content_3.png" alt="自閉症基金會北投工坊">
				</picture>
				<picture>
					<source srcset="resource/img/partner/partner_content_4.webp" type="image/webp">
					<img class="partner-content-img" src="resource/img/partner/partner_content_4.png" alt="自閉症基金會士林工坊">
				</picture>
				<picture>
					<source srcset="resource/img/partner/partner_content_5.webp" type="image/webp">
					<img class="partner-content-img" src="resource/img/partner/partner_content_5.png" alt="宜蘭自閉症協會小作所">
				</picture>
				<picture>
					<source srcset="resource/img/partner/partner_content_6.webp" type="image/webp">
					<img class="partner-content-img" src="resource/img/partner/partner_content_6.png" alt="台中信望愛智能發展中心">
				</picture>
			</div>
		</main>
