		<main>
			<div id="single-product-wrap" class="main-wrap">
				<div id="single-product-carousel">
					<div class="flexslider">
						<ul class="slides">{gallery}</ul>
					</div>
				</div>
				<div id="single-product-desc">
					<h2 class="main-content-title">
						{name}
					</h2>
					<h2 id="single-product-price">
						NT${price}
					</h2>
					<div id="single-product-purchase">
						<label for="purchase-amount">
							數量：
						</label>
						<input type="number" id="purchase-amount" class="form-field" name="ORDAMT" value="1" min="1">
						<a class="add-to-cart-link" href="https://www.pinkoi.com/store/trisoap" target="_blank">
						<!-- <a class="add-to-cart-link" href="javascript:void(0)" onclick="orderitemCreate('{item_no}')"> -->
							<!-- cart by praveen patchu from the Noun Project -->
							<picture>
								<source srcset="resource/img/product/add_to_cart.svg" type="image/svg+xml">
								<img class="cart-icon" src="resource/img/product/add_to_cart.png" alt="加入購物車">
							</picture>
						</a>
					</div>
					<p class="main-content-text">{intro}</p>
					<hr class="text-sep-sm">
					<p class="main-content-text">{ingredients}</p>
					<p class="main-content-text">{skin_type}</p>
				</div>
			</div>
			<div class="main-wrap products-wrap" id="recommended_products">
				<h2 class="main-content-title">買了本商品的人也買了</h2>
				<div class="products"></div>
			</div>
			<div>
				{landing_page}
			</div>
		</main>
