		<main>
			<!-- <div class="main-wrap products-wrap">
				<div id="category-guide">
					<a class="guide-link" href="index.php?route=products">商品一覽</a>
					<span>/</span>
					<a class="guide-link" href="index.php?route=soap">單品</a>
					<span>/</span>
					<a class="guide-link" href="index.php?route=soapstring">皂絲</a>
					<span>/</span>
					<a class="guide-link" href="index.php?route=gift_box">禮盒</a>
				</div>
				<div class="products"></div>
			</div> -->
			<div class="lp-section lp-bg-orange">
				<div class="lp-classic-border">
					<p class="lp-title">
						“一塊皂還藏著這樣的故事！”
					</p>
					<p class="lp-text">
						感謝風傳媒暖心報導
					</p>
				</div>
			</div>
			<div class="lp-section lp-plain-text lp-interlaced-text">
				<p class="lp-title">
					聽聽他們都這樣介紹三三
				</p>
				<p class="lp-text">
					“產品本身天然不刺激，我是敏感性肌膚也使用的很好”
				</p>
				<p class="lp-text">
					“洗起來很舒服，品質很好，和化學沐浴洗髮乳很不一樣的天然感受！”<br>
					“支持公益，以台灣在地為主題，理念一百分！加油！”
				</p>
				<p class="lp-text">
					“宣傳自家產品同時也把在地文化介紹給廣大使用者，很好，也很棒”
				</p>
				<p class="lp-text">
					“產品的設計融入當地特產及文化特色”
				</p>
				<p class="lp-subtitle">
					“有創意的ㄧ群年輕人，結合在地特色及公益團體，賦予傳統手工皂新生命”
				</p>
				<p class="lp-title">
					還不知道三三新概念嗎？
				</p>
			</div>
			<div class="lp-section lp-image-background lp-ib-cover" id="lp-three-elements">
				<p class="lp-title">
					三三的每樣產品背後都有 3 個元素
				</p>
				<div class="lp-text-cover-light">
					<p class="lp-title lp-text-sep">
						在地小農
					</p>
					<p class="lp-text">
						合作超過20家台灣在地小農<br>
						深入農田傾聽土地聲音。
					</p>
				</div>
				<div class="lp-text-cover-light">
					<p class="lp-title lp-text-sep">
						身障社福
					</p>
					<p class="lp-text">
						合作超過6家台灣身障小作所<br>
						長期培訓與陪伴增加身障朋友就業
					</p>
				</div>
				<div class="lp-text-cover-light">
					<p class="lp-title lp-text-sep">
						社會企業
					</p>
					<p class="lp-text">
						以解決社會問題為出發的商業模式<br>
						創新手法回饋社會。
					</p>
				</div>
			</div>
			<div class="lp-section lp-image-background lp-ib-cover lp-content-right lp-text-opposite-side" id="lp-img-social-welfare">
				<p class="lp-title">
					陪伴社福身障走一段長遠的路
				</p>
				<p class="lp-text">
					相對於使用大型機器大量生產降低成本，<br>
					三三選擇將花費數個月的心力研發出的特色單品皂，<br>
					將技術完整轉移交給身障學員生產，<br>
					目前合作的日間照顧作業設施（小作所）已多達6間，<br>
					所合作涵蓋在內更多達100位身障學員。<br>
					從認識彼此到培訓、帶活動實作上課程，<br>
					每一個皂一點一滴的累計秤量攪皂入模晾皂，<br>
					看著學員手把手的進步，<br>
					也等同於看見他們又露出自信的笑容。
				</p>
			</div>
			<div class="lp-section lp-certificate">
				<picture>
					<source srcset="resource/img/misc/logo-highlight.svg" type="image/svg+xml">
					<img class="trisoap-logo" src="resource/img/misc/logo-highlight.png" alt="三三吾鄉皂 logo">
				</picture>
				<div class="lp-certificate-content">
					<p class="lp-title">
						“全台灣最多公益小作所指定合作社會企業品牌”
					</p>
					<p class="lp-text">
						兩年多的努力和耕耘，三三集結眾多台灣在地小農和小作所，所服務小作所多達6間，累積超過100位合作身障學員。
					</p>
					<div class="lp-round">
						<p class="lp-title">
							SE
						</p>
						<p class="lp-text">
							經濟部<br>
							社會企業認證
						</p>
					</div>
				</div>
			</div>
			<div class="lp-section lp-image-background lp-ib-cover lp-content-right lp-text-opposite-side" id="lp-img-no-chemical">
				<p class="lp-title">
					無化學添加
				</p>
				<p class="lp-subtitle">
					只給你最必要的成分，最單純。
				</p>
				<ul class="lp-text">
					<li>X 化學色素染劑</li>
					<li>X 化學防腐劑</li>
					<li>X 化學界面活性劑</li>
					<li>X 矽靈</li>
					<li>X 化學增稠劑</li>
					<li>X 化學起泡劑</li>
				</ul>
			</div>
		</main>
