		<main>
			<div class="lp-section lp-bg-orange">
				<div class="lp-mark">
					認識我們
				</div>
				<div class="lp-content-left">
					<p class="lp-title">
						好皂不怕人試，讓我們認識你。
					</p>
					<p class="lp-text">
						三三捨去大筆買廣告的錢，想透過最貼身的方式<br>
						讓客戶認識我們，推行試用計畫屢受好評。
					</p>
				</div>
			</div>
			<div class="lp-section lp-image-background lp-ib-cover lp-content-left" id="lp-img-teng-partner">
				<div class="lp-text-cover-dark">
					<p class="lp-title">
						十公克夥伴
					</p>
					<p class="lp-subtitle lp-text-sep">
						金絲森林渲染皂 x 田園山巒禾風皂
					</p>
					<p class="lp-text">
						來自台東的兩位10g 好夥伴<br>
						貼心設計讓小皂符合手掌心大小<br>
						代表三三與你們初次相見。
					</p>
				</div>
				<p class="lp-text lp-circle" id="lp-circle-chihshang-rice">
					池上米
				</p>
				<p class="lp-text lp-circle" id="lp-circle-lily">
					萱草
				</p>
			</div>
			<div class="lp-section lp-plain-text">
				<p class="lp-title">
					三三的好品質讓試用過的人都驚艷
				</p>
				<div class="lp-customer-feedbacks">
					<div class="lp-cf">
						<div class="lp-cf-head">
							<p class="lp-cf-title">
								Lai小姐
							</p>
						</div>
						<div class="lp-cf-content lp-bg-orange">
							<p class="lp-cf-text">
								很滋潤，不會讓人覺得洗完很乾，也不會像他牌手工皂幾乎不起泡。是個洗了會讓人很有成就感的超棒肥皂！謝謝你們創造出這麼棒的手工皂！在你們的產品內完全感受得到你們的用心！
							</p>
						</div>
					</div>
					<div class="lp-cf">
						<div class="lp-cf-head">
							<p class="lp-cf-title">
								Medea小姐
							</p>
						</div>
						<div class="lp-cf-content lp-bg-orange">
							<p class="lp-cf-text">
								收到這份試用包的時候很驚喜，也很感動，完全能感受到製作者的用心，謝謝你們的用心對台灣的土地把關，洗身體的起泡力跟洗淨力都非常滿意，為這份土地的盡心盡力！
							</p>
						</div>
					</div>
					<div class="lp-cf">
						<div class="lp-cf-head">
							<p class="lp-cf-title">
								Kitty小姐
							</p>
						</div>
						<div class="lp-cf-content lp-bg-orange">
							<p class="lp-cf-text">
								我本身不喜歡皮膚接觸太多的香料和香味，三三的手工皂很天然，沒摻入化學的成分，所以我會支持道地的產品。三三的手工皂，樸素卻帶有一種很實在的感覺，沒有華麗的包裝，但是讓人看得出是做得很用心的產品，這樣的產品真的不輸市面上的產品。
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="lp-section lp-bg-orange" id="lp-three-insistence">
				<p class="lp-title">
					三三吾鄉的 3 大堅持
				</p>
				<div class="lp-three-rounds">
					<div class="lp-round">
						<p class="lp-title">
							堅持冷製
						</p>
						<p class="lp-text">
							堅持超過12道手作工序<br>
							33天以上晾皂品質保證
						</p>
					</div>
					<div class="lp-round">
						<p class="lp-title">
							天然植物油
						</p>
						<p class="lp-text">
							採用誠香集認證<br>
							食品級植物油
						</p>
					</div>
					<div class="lp-round">
						<p class="lp-title">
							無化學添加
						</p>
						<p class="lp-text">
							保證無矽靈無防腐劑<br>
							無起泡劑無界面活性劑
						</p>
					</div>
				</div>
			</div>
			<div class="lp-section lp-image-background lp-ib-cover lp-content-right" id="lp-img-cold-pro">
				<p class="lp-title">
					專精冷製手作
				</p>
				<p class="lp-text">
					冷製法是指在手製手工皂過程中，<br>
					透過低溫攪製的方式保留植物油營養成分，<br>
					為避免破壞植物油中營養成分，<br>
					三三透過12道完整工序製作出皮膚最好的產品。
				</p>
			</div>
			<div class="lp-section lp-image-background lp-ib-cover lp-content-left" id="lp-img-listen-to-earth">
				<p class="lp-title">
					傾聽土地的聲音
				</p>
				<p class="lp-text">
					注重環境的時代已經來臨，<br>
					三三屢次來到台灣美麗的後山，<br>
					和三三夥伴小農一同傾聽土地的聲音，<br>
					也傾聽小農的聲音，<br>
					聽他們無毒有機的種植理念，<br>
					更堅定三三產品當中小農素材添加的健康堅持，<br>
					每一個加入的特色素材都花比其他品牌多上幾倍的時間，<br>
					了解種植方式、研發、試用、修正。
				</p>
			</div>
			<div class="lp-section lp-plain-text lp-content-left">
				<p class="lp-title">
					“他們很喜歡做皂，<br>
					但我們都怕做出來賣不出去”
				</p>
				<p class="lp-text lp-bg-orange">
					 三三的初心來自於擔憂臺灣身障學員就業不穩定的問題，<br>
					 在台灣有多達上百間小作所面臨到品質不穩、研發技術不足、人力缺乏、無力行銷等問題。<br>
					 更統計臺灣資源缺乏小作所，身障學員勞動閒置率高達90%，<br>
					 三三想讓認真工作的身障學員們有工作做，有舞台可以展現他們的功夫。
				</p>
			</div>
			<div class="lp-section lp-image-background lp-ib-cover lp-content-left" id="lp-img-retarded-produce-together">
				<p class="lp-title">
					身障學員協力生產
				</p>
				<p class="lp-subtitle lp-bg-orange">
					「你手裡的每塊皂，三三都能自信的說，是與我們的身障學員協力生產而來。」
				</p>
				<p class="lp-text">
					三三創辦人又令夥同樂芽社會企業，手把手與每間小作所協商洽談，<br>
					技術移轉培訓身障學員如喜憨兒、自閉症、精神障礙等學員協力生產，<br>
					數百個日子的陪伴和磨練，培訓出身障學員的自信手藝。
				</p>
			</div>
			<div class="lp-section lp-certificate">
				<picture>
					<source srcset="resource/img/misc/logo-highlight.svg" type="image/svg+xml">
					<img class="trisoap-logo" src="resource/img/misc/logo-highlight.png" alt="三三吾鄉皂 logo">
				</picture>
				<div class="lp-certificate-content">
					<p class="lp-title">
						“全台灣最多公益小作所指定合作社會企業品牌”
					</p>
					<p class="lp-text">
						兩年多的努力和耕耘，三三集結眾多台灣在地小農和小作所，所服務小作所多達6間，累積超過100位合作身障學員。
					</p>
					<div class="lp-round">
						<p class="lp-title">
							SE
						</p>
						<p class="lp-text">
							經濟部<br>
							社會企業認證
						</p>
					</div>
				</div>
			</div>
			<div class="lp-section lp-image-background lp-ib-cover lp-content-right lp-text-opposite-side" id="lp-img-media-report">
				<p class="lp-title">
					國內外媒體爭光報導
				</p>
				<p class="lp-text">
					三三的好品質屢受媒體青睞，<br>
					近來更受國外媒體報導為臺灣爭光，<br>
					更受到經濟部認證社會企業殊榮，<br>
					入圍臺東好物等多項大獎，<br>
					各大媒體也掛名保證的好品質!
				</p>
			</div>
			<div class="lp-section lp-plain-text lp-cta">
				<p class="lp-title">
					心動不如馬上行動
				</p>
				<p class="lp-subtitle">
					立即點選免費申請限量試用包，讓三三認識你！
				</p>
				<a class="lp-orange-btn" href="https://trisoap.typeform.com/to/voNGpg" target="_blank" rel="noopener">
					我要申請
				</a>
			</div>
		</main>
