		<main>
			<div id="wd-advice">
				<div class="wd-main-img">
					<picture>
						<source srcset="resource/img/wedding/01.webp" type="image/webp">
						<img class="full-width-img" src="resource/img/wedding/01.jpg" alt="你的婚禮，能夠創造更多幸福！">
					</picture>
				</div>
				<div class="wd-text-cover">
					<p class="wd-super-title">
						你的婚禮，<br>
						能夠創造更多幸福！
					</p>
				</div>
				<div class="wd-intro-content">
					<p class="wd-subtitle">
						三三吾鄉婚禮小物<br>
						諮詢免費送 3 包天然皂絲包！
					</p>
					<a href="#wd-cta" class="wedding-text-btn">
						立即諮詢
					</a>
				</div>
			</div>
			<div class="wd-intro">
				<div class="wd-intro-content">
					<p class="wd-title">
						什麼是皂絲包？
					</p>
					<p class="wd-text">
						三三吾鄉運用台灣小農栽培的農作與高純度植物油，生產出對環境與人體都溫柔無負擔的「冷製手工皂」，再細刨成絲狀，就成了「皂絲包」。
					</p>
				</div>
				<div class="wd-main-img">
					<picture>
						<source srcset="resource/img/wedding/02.webp" type="image/webp">
						<img class="full-width-img" src="resource/img/wedding/02.jpg" alt="什麼是皂絲包？">
					</picture>
				</div>
			</div>
			<div class="wd-image-background" id="wd-img-samples"></div>
			<div class="wd-slogan" id="wd-img-031">
				<p class="wd-title">
					簡單，也可以與眾不同
				</p>
				<p class="wd-text">
					三三吾鄉的婚禮皂絲包提供客製化的貼紙與吊牌，無論你的婚禮是日系森林風、還是歐美復古風，多達 15 種的貼紙設計都能夠讓你自由搭配，展現用心與巧思。
				</p>
			</div>
			<div id="wd-simple-procedure">
				<div class="wd-main-img">
					<picture>
						<source srcset="resource/img/wedding/04.webp" type="image/webp">
						<img class="full-width-img" src="resource/img/wedding/04.jpg" alt="簡單三步驟，婚禮贈品輕鬆搞定">
					</picture>
				</div>
				<div class="wd-text-cover">
					<p class="wd-title">
						簡單三步驟，婚禮贈品輕鬆搞定
					</p>
					<ol class="wd-tc-ol">
						<li>
							<p class="wd-text">
								決定預算及數量
							</p>
						</li>
						<li>
							<p class="wd-text">
								討論貼紙與吊牌設計<br>
								並提供免費打樣以確認成品
							</p>
						</li>
						<li>
							<p class="wd-text">
								製作完成後幫你貨運到府
							</p>
						</li>
					</ol>
				</div>
			</div>
			<div class="wd-image-background" id="wd-img-confidence">
				<div class="wd-text-cover">
					<p class="wd-title">
						皂絲包，<br>
						承裝你對生命的溫柔
					</p>
					<p class="wd-text">
						三三吾鄉是一個社會企業，致力於讓偏鄉的憨兒擁有穩定的工作機會。而你所購買的每一包皂絲，都是憨兒們所完成的自信之作！
					</p>
				</div>
			</div>
			<div class="wd-intro">
				<div class="wd-main-img">
					<picture>
						<source srcset="resource/img/wedding/06.webp" type="image/webp">
						<img class="full-width-img" src="resource/img/wedding/06.jpg" alt="你的放心，來自於我們對原料的執著">
					</picture>
				</div>
				<div class="wd-intro-content">
					<p class="wd-title">
						你的放心，<br>
						來自於我們對原料的執著
					</p>
					<p class="wd-text">
						三三的「吾鄉」，意思也是「無香」，因為絕不採用對人體與環境造成負荷的化工香精。取而代之的是以純米、蜂蜜、薑黃、金針花等，以棕欖油、乳油木果脂作為基底，將大自然的美好淬煉呈現。
					</p>
				</div>
			</div>
			<hr class="wd-intro-sep">
			<div class="wd-intro">
				<div class="wd-intro-content">
					<p class="wd-title">
						清透的呼吸感，<br>
						肌膚最知道
					</p>
					<p class="wd-text">
						在掌間輕輕搓揉皂絲包，綿密的泡沫能夠深入毛孔，帶走多餘的油脂與髒污，小小一包就能供全身清潔，讓肌膚感到重生般地輕盈。
					</p>
				</div>
				<div class="wd-main-img">
					<picture>
						<source srcset="resource/img/wedding/07.webp" type="image/webp">
						<img class="full-width-img" src="resource/img/wedding/07.jpg" alt="清透的呼吸感，肌膚最知道">
					</picture>
				</div>
			</div>
			<hr class="wd-intro-sep">
			<div class="wd-intro">
				<div class="wd-main-img">
					<picture>
						<source srcset="resource/img/wedding/08.webp" type="image/webp">
						<img class="full-width-img" src="resource/img/wedding/08.jpg" alt="隨時隨地，清爽潔淨">
					</picture>
				</div>
				<div class="wd-intro-content">
					<p class="wd-title">
						隨時隨地，清爽潔淨
					</p>
					<p class="wd-text">
						公共設施的洗手乳是否讓你不安心？皂絲包的輕巧包裝，讓你無論是外出旅行、野餐露營，隨時都能享有方便暢快的潔淨體驗。
					</p>
				</div>
			</div>
			<hr class="wd-intro-sep">
			<div class="wd-intro">
				<div class="wd-intro-content">
					<p class="wd-title">
						揮別浪費，傳遞真實
					</p>
					<p class="wd-text">
						皂絲包是理念與實用的結合，它不只傳達你對婚禮賓客的感謝，也表達你對生活的態度。誰說婚禮小物都只是裝飾品？<br>
						讓我們從這一包皂絲開始改變。
					</p>
				</div>
				<div class="wd-main-img">
					<picture>
						<source srcset="resource/img/wedding/09.webp" type="image/webp">
						<img class="full-width-img" src="resource/img/wedding/09.jpg" alt="揮別浪費，傳遞真實">
					</picture>
				</div>
			</div>
			<div id="wd-img-future">
				<div class="wd-main-img">
					<picture>
						<source srcset="resource/img/wedding/10.webp" type="image/webp">
						<img class="full-width-img" src="resource/img/wedding/10.jpg" alt="你的婚禮，能夠創造更多幸福！">
					</picture>
				</div>
				<div class="wd-text-cover">
					<p class="wd-super-title">
						你正在創造公益新未來！
					</p>
					<p class="wd-text">
						三三吾鄉致力於協助偏鄉的憨兒社福團體、生產天然手工皂，翻轉社會普遍對於憨兒與自閉兒的迷思，用高品質的產品回饋給消費者，是憨兒與三三吾鄉所堅持的夢想。而選用皂絲作為婚禮小物的你，正在與三三一同創造台灣公益的新未來！
					</p>
				</div>
			</div>
			<div class="wd-section">
				<p class="wd-title">
					媒體報導
				</p>
				<div id="wd-media-reports">
					<div class="wd-media-report">
						<p class="wd-text wd-mr-comment">
							「創立三三吾鄉的理念，為的就是讓大眾看見喜憨兒，知道他們價值所在，並實現一個沒有歧視的夢。」
						</p>
						<div class="wd-mr-source">
							<picture>
								<source srcset="resource/img/wedding/111.webp" type="image/webp">
								<img class="full-width-img" src="resource/img/wedding/111.jpg" alt="Peopo 公民新聞">
							</picture>
						</div>
					</div>
					<div class="wd-media-report">
						<p class="wd-text wd-mr-comment">
							「對喜憨兒來說，擁有專業是一件引以為傲且快樂的事情。」
						</p>
						<div class="wd-mr-source">
							<picture>
								<source srcset="resource/img/wedding/112.webp" type="image/webp">
								<img class="full-width-img" src="resource/img/wedding/112.jpg" alt="風傳媒 THE STORM MEDIA">
							</picture>
						</div>
					</div>
					<div class="wd-media-report">
						<p class="wd-text wd-mr-comment">
							「三三以全新的合作模式，結合台東在地小農及憨兒 」
						</p>
						<div class="wd-mr-source">
							<picture>
								<source srcset="resource/img/wedding/113.webp" type="image/webp">
								<img class="full-width-img" src="resource/img/wedding/113.jpg" alt="聯合新聞網 udn">
							</picture>
						</div>
					</div>
					<div class="wd-media-report">
						<p class="wd-text wd-mr-comment">
							「手工皂對於憨兒們儘管是困難的學習，但仍然不改變他們對產品的堅持。」
						</p>
						<div class="wd-mr-source">
							<picture>
								<source srcset="resource/img/wedding/114.webp" type="image/webp">
								<img class="full-width-img" src="resource/img/wedding/114.jpg" alt="生命力新聞">
							</picture>
						</div>
					</div>
					<div class="wd-media-report">
						<p class="wd-text wd-mr-comment">
							「用好的油、好的原料製作手工香皂，提升社福團體產製的品質」
						</p>
						<div class="wd-mr-source">
							<picture>
								<source srcset="resource/img/wedding/115.webp" type="image/webp">
								<img class="full-width-img" src="resource/img/wedding/115.jpg" alt="自由時報">
							</picture>
						</div>
					</div>
					<div class="wd-media-report">
						<p class="wd-text wd-mr-comment">
							「就讀臺大社工系的尹又令，選擇了用這種高難度的社會企業來創業，成立了『三三吾鄉』」
						</p>
						<div class="wd-mr-source">
							<picture>
								<source srcset="resource/img/wedding/116.webp" type="image/webp">
								<img class="full-width-img" src="resource/img/wedding/116.jpg" alt="HakkaTV">
							</picture>
						</div>
					</div>
				</div>
			</div>
			<div class="wd-section">
				<p class="wd-title">
					感謝大家熱烈支持！
				</p>
				<div id="wd-customer-feedbacks">
					<div class="wd-customer-feedback">
						<picture>
							<source srcset="resource/img/wedding/12Fb1.webp" type="image/webp">
							<img class="full-width-img" src="resource/img/wedding/12Fb1.jpg" alt="臉書留言 1">
						</picture>
					</div>
					<div class="wd-customer-feedback">
						<picture>
							<source srcset="resource/img/wedding/12Fb2.webp" type="image/webp">
							<img class="full-width-img" src="resource/img/wedding/12Fb2.jpg" alt="臉書留言 2">
						</picture>
					</div>
				</div>
			</div>
			<div id="wd-opportunities">
				<div class="wd-main-img">
					<picture>
						<source srcset="resource/img/wedding/13.webp" type="image/webp">
						<img class="full-width-img" src="resource/img/wedding/13.jpg" alt="平均一場婚禮，能夠提供 20 個憨兒一週的工作量！">
					</picture>
				</div>
				<div class="wd-text-cover">
					<p class="wd-title">
						平均一場婚禮，<br>
						能夠提供 20 個憨兒一週的工作量！
					</p>
					<p class="wd-text">
						你知道嗎？近年來由於公益資源縮減，在偏鄉的憨兒小作所陸續倒閉，目前台灣有約八成的憨兒沒辦法擁有穩定的工作機會⋯⋯
						其實，對他們來說最重要的不是金錢，而是擁有再平凡不過的穩定上下班、朋友，還有努力工作的成就感。
					</p>
				</div>
			</div>
			<div class="wd-slogan" id="wd-img-142">
				<p class="wd-title">
					選用三三皂絲包作為婚禮小物
				</p>
				<p class="wd-super-title">
					你的幸福婚禮，也能帶給憨兒們幸福！
				</p>
			</div>
			<div id="wd-special-offers">
				<div class="wd-offer">
					<div class="wd-offer-name">
						<p class="wd-title">
							簡約精緻 A 方案
						</p>
						<p class="wd-text">
							- 提供憨兒一週的工作量 -
						</p>
					</div>
					<div class="wd-offer-price">
						<p class="wd-super-title">
							$ 3,999
							<span class="wd-text">
								起
							</span>
						</p>
						<p class="wd-text">
							(原價 $7,000)
						</p>
					</div>
					<div class="wd-offer-intro">
						<p class="wd-text">
							100 組皂絲包 (10 桌)
						</p>
						<p class="wd-text">
							客製化貼紙與吊牌
						</p>
						<p class="wd-text">
							*內容價格數量皆可客製化
						</p>
					</div>
					<div class="wd-offer-bonus">
						<p class="wd-text">
							特色探房禮 3 份
						</p>
					</div>
				</div>
				<div class="wd-primary-offer">
					<div class="wd-offer-name">
						<p class="wd-super-title">
							幸福推薦 B 方案
						</p>
						<p class="wd-text">
							- 提供憨兒 20 天的工作量 -
						</p>
					</div>
					<div class="wd-offer-price">
						<p class="wd-super-title">
							$ 9,999
							<span class="wd-text">
								起
							</span>
						</p>
						<p class="wd-text">
							(原價 $18,500)
						</p>
					</div>
					<div class="wd-offer-intro">
						<p class="wd-text">
							250 組皂絲包 (25 桌)
						</p>
						<p class="wd-text">
							客製化貼紙與吊牌
						</p>
						<p class="wd-text">
							*內容價格數量皆可客製化
						</p>
					</div>
					<div class="wd-offer-bonus">
						<p class="wd-text">
							進場禮 60 份
						</p>
						<p class="wd-text">
							活動抽獎禮 3 份
						</p>
						<p class="wd-text">
							特色探房禮 7 份
						</p>
					</div>
				</div>
				<div class="wd-offer">
					<div class="wd-offer-name">
						<p class="wd-title">
							豪華五禮 C 方案
						</p>
						<p class="wd-text">
							- 提供憨兒 20 天以上的工作量 -
						</p>
					</div>
					<div class="wd-offer-price">
						<p class="wd-title">
							洽詢獲得專屬優惠報價
						</p>
					</div>
					<div class="wd-offer-intro">
						<p class="wd-text">
							250 組以上皂絲包 (25 桌以上)
						</p>
						<p class="wd-text">
							客製化貼紙與吊牌
						</p>
						<p class="wd-text">
							*內容價格數量皆可客製化
						</p>
					</div>
					<div class="wd-offer-bonus">
						<p class="wd-text">
							探房禮 / 伴郎伴娘禮 /
						</p>
						<p class="wd-text">
							迎賓禮 / 二進禮 / 送客禮
						</p>
					</div>
				</div>
			</div>
			<div id="wd-cta">
				<div class="wd-intro-content">
					<p class="wd-title">
						填表就送皂絲包！
					</p>
					<p class="wd-text">
						即日起，只要填寫諮詢表<br>
						就可免費獲得兩組婚禮皂絲包！<br>
						數量有限，送完為止！
					</p>
					<p class="wd-title">
						再送驚喜贈禮及現金折扣！
					</p>
					<p class="wd-text">
						預約參加皂絲 DIY 行程，與憨兒一起製作你的婚禮小物，會有讓你想不到的驚喜贈禮與現金折扣！<br>
						（填寫諮詢表後將有專人與你解說）
					</p>
				</div>
				<div id="wd-cta-form">
					<form class="wd-text" action="" method="">
						<div class="wd-cta-form-content">
							<label for="wd-cta-name">姓名</label>
							<input id="wd-cta-name" class="wd-cta-input" type="text">
						</div>
						<div class="wd-cta-form-content">
							<label for="wd-cta-phone">聯絡電話</label>
							<input id="wd-cta-phone" class="wd-cta-input" type="text">
						</div>
						<div class="wd-cta-form-content">
							<label for="wd-cta-email">email</label>
							<input id="wd-cta-email" class="wd-cta-input" type="text">
						</div>
					</form>
				</div>
			</div>
		</main>
