        <nav id="main-navbar">
            <div id="nav-brand-wrap">
                <a class="nav-brand" href="/">
                    <img id="brand-logo" src="resource/img/logo.png" alt="三三吾鄉皂 Trisoap">
                </a>
            </div>
            <div id="nav-toggle-wrap">
                <div class="nav-mobile-toggle">
                    <span class="toggle-bar"></span>
                    <span class="toggle-bar"></span>
                    <span class="toggle-bar"></span>
                </div>
            </div>
            <div id="nav-menu-wrap">
                <ul id="nav-main-menu">
                    <li class="nav-main-item">
                        <a class="nav-main-link" href="/">
                            首頁
                        </a>
                    </li>
                    <li class="nav-main-item has-dropdown">
                        <a class="nav-main-link" href="javascript:void(0)">
                            管理平台
                            <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="nav-dropdown-menu">
                            <li class="nav-dropdown-item">
                                <a class="nav-main-link" href="/Trisoap_WL/index.php">
                                    倉儲暨物流管理
                                </a>
                            </li>
                            <li class="nav-dropdown-item">
                                <a class="nav-main-link" href="index.php?route=manager">
                                    權限管理
                                </a>
                            </li>
                            <li class="nav-dropdown-item">
                                <a class="nav-main-link" href="index.php?route=item">
                                    商品管理
                                </a>
                            </li>
                            <li class="nav-dropdown-item">
                                <a class="nav-main-link" href="index.php?route=order">
                                    訂單管理
                                </a>
                            </li>
                            <li class="nav-dropdown-item">
                                <a class="nav-main-link" href="index.php?route=discount">
                                    折扣管理
                                </a>
                            </li>
                            <li class="nav-dropdown-item">
                                <a class="nav-main-link" href="index.php?route=member">
                                    客戶管理
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-main-item has-dropdown">
                        <a class="nav-main-link" href="javascript:void(0)">
                            訂單管理
                            <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="nav-dropdown-menu">
                            <li class="nav-dropdown-item">
                                <a class="nav-main-link" href="index.php?route=order">
                                    訂單一覽
                                </a>
                            </li>
                            <li class="nav-dropdown-item">
                                <a class="nav-main-link" href="index.php?route=order&in=create">
                                    建立訂單
                                </a>
                            </li>
                            <li class="nav-dropdown-item">
                                <a class="nav-main-link" href="index.php?route=order&in=stateE">
                                    待執行訂單
                                </a>
                            </li>
                            <li class="nav-dropdown-item">
                                <a class="nav-main-link" href="index.php?route=order&in=stateR">
                                    執行中訂單
                                </a>
                            </li>
                            <li class="nav-dropdown-item">
                                <a class="nav-main-link" href="index.php?route=order&in=state1">
                                    缺貨中訂單
                                </a>
                            </li>
                            <li class="nav-dropdown-item">
                                <a class="nav-main-link" href="index.php?route=order&in=stateC">
                                    已完成訂單
                                </a>
                            </li>
                            <li class="nav-dropdown-item">
                                <a class="nav-main-link" href="index.php?route=order&in=stateF">
                                    強制結束訂單
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-main-item has-dropdown">
                        <a class="nav-main-link" href="javascript:void(0)">
                            [member_name]，您好
                            <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="nav-dropdown-menu">
                            <li class="nav-dropdown-item">
                                <a class="nav-main-link" href="index.php?operation=logout">
                                    登出
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>