		<header id="index-header">
			<div class="flexslider">
				<ul class="slides">
					<li>
						<div>
							<a href="#">
								<img src="resource/img/index/index01.jpg" alt="春節禮盒">
							</a>
						</div>
					</li>
					<li>
						<div>
							<a href="#">
								<img src="resource/img/index/index02.jpg" alt="客製化專區">
							</a>
						</div>
					</li>
					<li>
						<div>
							<a href="index.php?route=about">
								<img src="resource/img/index/index03.jpg" alt="三三吾鄉 Trisoap">
							</a>
						</div>
					</li>
					<li>
						<div>
							<a href="index.php?route=trial" target="_blank" rel="noopener">
								<img src="resource/img/index/index04.jpg" alt="試用皂免費申請中 Trial">
							</a>
						</div>
					</li>
				</ul>
