		<header id="index-header">
			<div class="flexslider">
				<ul class="slides">
					<li>
						<div>
							<a href="index.php?route=wedding">
								<picture>
									<source srcset="resource/img/index/index_wedding.webp" type="image/webp">
									<img src="resource/img/index/index_wedding.jpg" alt="三三吾鄉婚禮小物">
								</picture>
							</a>
						</div>
					</li>
					<li>
						<div>
							<a href="index.php?route=about">
								<picture>
									<source srcset="resource/img/index/index_about.webp" type="image/webp">
									<img src="resource/img/index/index_about.jpg" alt="三三吾鄉 Trisoap">
								</picture>
							</a>
						</div>
					</li>
					<li>
						<div>
							<a href="index.php?route=trial" target="_blank" rel="noopener">
								<picture>
									<source srcset="resource/img/index/index_trial.webp" type="image/webp">
									<img src="resource/img/index/index_trial.jpg" alt="試用皂免費申請中 Trial">
								</picture>
							</a>
						</div>
					</li>
				</ul>
