					<div class="product">
						<div class="product-cover">
							<a class="product-link" href="index.php?route=single_product&itemno={item_no}">
								<img class="product-cover-img" src="{product_cover_photo}" alt="{product_name}">
							</a>
						</div>
						<h4 class="product-name">
							<a class="product-link" href="index.php?route=single_product&itemno={item_no}">
								{product_name}
							</a>
						</h4>
						<p class="product-intro">
							{product_intro}
						</p>
					</div>
