					<div class="product">
						<div class="product-cover">
							<a class="product-link" href="index.php?route=single_product&itemno={item_no}">
								<picture>
									<source srcset="{cover_photo}.webp" type="image/webp">
									<img class="product-cover-img" src="{cover_photo}.jpg" alt="{name}">
								</picture>
							</a>
						</div>
						<h4 class="product-name">
							<a class="product-link" href="index.php?route=single_product&itemno={item_no}">
								{name}
							</a>
						</h4>
						<p class="product-intro">
							{intro}
						</p>
					</div>
