        <div class="sign-block">
            <h1>新增折扣</h1>
            <input type="text" id="name" placeholder="折扣名稱">
            <input type="text" id="price" placeholder="折扣金額">
            <div class="q-select">
                <select id="mode">
                    <option value="1">一次有效</option>
                    <option value="2">永久有效</option>
                </select>
            </div>
            <button class="promise" onclick="discountCreate()">確定</button>
            <a href="index.php?route=discount"><button class="cancel">取消</button></a>
        </div>
