        <main>
            <div class="main-wrap">
                <h2>折扣新增</h2>
                <div class="create-div">
                    <div>
                        <label for="name">折扣名稱</label>
                        <input type="text" id="name" class="form-field">
                    </div>
                    <div>
                        <label for="price">折扣金額</label>
                        <input type="number" id="price" class="form-field">
                    </div>
                    <div>
                        <label for="mode">折扣狀態</label>
                        <select id="mode">
                            <option value="1">一次有效</option>
                            <option value="2">永久有效</option>
                        </select>
                    </div>
                    <div>
                        <button class="promise-btn" onclick="discountCreate()">確定</button>
                        <a class="neural-btn" href="index.php?route=discount">取消</a>
                    </div>
                </div>
            </div>
        </main>
