        <main>
            <div class="main-wrap">
                <div class="data-retrieval">
                    <h2>一次有效折扣</h2>
                    <table class="rwd-table">
                        <thead>
                            <tr>
                                <th>折扣兌換碼</th>
                                <th>折扣名稱</th>
                                <th>折扣金額</th>
                                <th>折扣狀態</th>
                                <th>設定人員</th>
                                <th>建立日期</th>
                                <th>最近使用日期</th>
                            </tr>
                        </thead>
                        <tbody>
                            [discountView1]
                        </tbody>
                    </table>
                </div>
            </div>
        </main>
