        <main>
            <div class="main-wrap">
                <div class="data-retrieval">
                    <h2>商品一覽</h2>
                    <table class="rwd-table">
                        <thead>
                            <tr>
                                <td>商品編號</td>
                                <td>商品名稱</td>
                                <td>商品數量</td>
                                <td>商品價格</td>
                                <td>商品描述</td>
                                <td>商品狀態</td>
                            </tr>
                        </thead>
                        <tbody>
                            [itemShow]
                        </tbody>
                    </table>
                </div>
            </div>
        </main>
