        <div class="sign-block" style="width: 350px;">
            <h1>商品出貨</h1>
            <div class="q-select">商品名稱：
                <select id="index">
                    <option value="0"></option>
                    <option value="1">田靜山巒禾風皂</option>
                    <option value="2">金絲森林渲染皂</option>
                    <option value="3">釋迦手感果力皂</option>
                    <option value="4">三三臺東意象禮盒組</option>
                    <option value="5">三三臺東意象皂絲旅行組</option>
                    <option value="6">洛神紅麴旅用皂絲</option>
                    <option value="7">暖暖薑黃旅用皂絲</option>
                    <option value="8">萱草米黃旅用皂絲</option>
                </select>
            </div>
            出貨數量：<input type="text" id="amount">
            <button class="promise" onclick="itemSell()">確定</button>
            <a href="index.php?route=item"><button class="cancel">取消</button></a>
        </div>
