        <main>
            <div class="main-wrap">
                <div class="data-retrieval">
                    <h2>商品一覽</h2>
                    <table class="rwd-table">
                        <thead>
                            <tr>
                                <th>商品編號</th>
                                <th>商品名稱</th>
                                <th>商品數量</th>
                                <th>商品價格</th>
                                <th>商品描述</th>
                                <th>商品狀態</th>
                            </tr>
                        </thead>
                        <tbody>
                            [itemShow]
                        </tbody>
                    </table>
                </div>
            </div>
        </main>
