<!DOCTYPE html>
<html lang="zh-Hant-TW">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{title}｜三三吾鄉手工皂Trisoap</title>
        <meta name="author" content="2017 Trisoap Team">
        <meta property="og:title" content="{title}｜三三吾鄉手工皂 Trisoap" >
        <meta property="og:url" content="https://www.trisoap.com.tw">
        <meta property="og:image" content="resource/img/index/index01.jpg">
        <link rel="shortcut icon" href="resource/img/misc/favicon.png">
