        <main>
            <div class="main-wrap">
                <div class="data-retrieval">
                    <h2>管理員一覽</h2>
                    <table class="rwd-table">
                        <thead>
                            <tr>
                                <th>電子信箱</th>
                                <th>姓名</th>
                                <th>電話</th>
                                <th>地址</th>
                                <th>帳號建立日期</th>
                            </tr>
                        </thead>
                        <tbody>
                            [managerShow]
                        </tbody>
                    </table>
                </div>
            </div>
        </main>
