        <main>
            <div class="main-wrap">
                <h2>管理員新增</h2>
                <div class="create-div">
                    <div>
                        <label for="target">欲新增管理員信箱</label>
                        <input type="email" id="target" class="form-field">
                    </div>
                    <div>
                        <button class="promise-btn" onclick="managerCreate()">確定</button>
                        <a class="neural-btn" href="index.php?route=manager">取消</a>
                    </div>
                </div>
            </div>
        </main>
