        <main>
            <div class="main-wrap">
                <div class="data-retrieval">
                    <h2>管理員一覽</h2>
                    <table class="rwd-table">
                        <thead>
                            <tr>
                                <td>電子信箱</td>
                                <td>姓名</td>
                                <td>電話</td>
                                <td>地址</td>
                                <td>帳號建立日期</td>
                            </tr>
                        </thead>
                        <tbody>
                            [managerShow]
                        </tbody>
                    </table>
                </div>
            </div>
        </main>
