        <main>
            <div class="main-wrap">
                <div id="member-search" class="search-div">
                    <div>
                        <label for="search-basis">搜尋依據</label>
                        <select id="search-basis">
                            <option value="EMAIL">電子信箱</option>
                            <option value="CUSNM">客戶姓名</option>
                            <option value="TEL">聯絡電話</option>
                        </select>
                    </div>
                    <div>
                        <label for="search-value">搜尋關鍵</label>
                        <input type="text" id="search-value" class="form-field">
                        <button class="neural-btn" onclick="memberSearch()">確定</button>
                    </div>
                </div>
                <div class="data-retrieval">
                    <h2>客戶一覽</h2>
                    <table class="rwd-table">
                        <thead>
                            <tr>
                                <th>信箱</th>
                                <th>姓名</th>
                                <th>地址</th>
                                <th>膚質</th>
                                <th>生日</th>
                                <th>聯絡電話</th>
                                <th>如何得知</th>
                                <th>建立時間</th>
                                <th>最後修改時間</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody id="memberShow">
                            [memberShow]
                        </tbody>
                    </table>
                </div>
            </div>
        </main>
