        <!-- <nav class="navbar navbar-fixed-top nav-custom">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a href="#page-top" class="navbar-brand"><img src="resource/image/logo.png" class="logo"></a>
                </div>
                <div class="collapse navbar-collapse navbar-main-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="index.php">
                                回三三首頁<i class="fa fa-angle-down" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                [member_name]，您好<br>
                            </a>
                        </li>
                        <li>
                            <a onclick="memberLogout()">
                                登出<i class="fa fa-angle-down" aria-hidden="true"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav> -->
        <section>
            <div class="orders">
                搜尋依據：
                <select id="key">
                    <option value="EMAIL">電子信箱</option>
                    <option value="CUSNM">客戶姓名</option>
                    <option value="TEL">聯絡電話</option>
                </select>
                搜尋關鍵：<input type="text" id="value"><br>
                <button onclick="memberSearch()">確定</button>
            </div>
        </section>
        <section>
            <div class="container">
                <h2>客戶一覽</h2>
                <div class="manage">
                    <div class="row table-responsive">
                        <div class="tab-content">
                            <div id="all" class="tab-pane fade in active">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <td>信箱</td>
                                            <td>姓名</td>
                                            <td>地址</td>
                                            <td>膚質</td>
                                            <td>生日</td>
                                            <td>聯絡電話</td>
                                            <td>建立時間</td>
                                            <td>最後修改時間</td>
                                            <td>操作</td>
                                        </tr>
                                    </thead>
                                    <tbody id="memberShow">
                                    [memberShow]
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
