        <nav id="main-navbar">
            <div id="nav-brand-wrap">
                <a href="/" class="nav-brand">
                    <img id="brand-logo" src="resource/img/logo.png" alt="三三吾鄉皂 Trisoap">
                </a>
            </div>
            <div id="nav-toggle-wrap">
                <div class="nav-mobile-toggle">
                    <span class="toggle-bar"></span>
                    <span class="toggle-bar"></span>
                    <span class="toggle-bar"></span>
                </div>
            </div>
            <div id="nav-menu-wrap">
                <ul id="nav-main-menu">
                    <li class="nav-main-item">
                        <a class="nav-main-link" href="/">
                            首頁
                        </a>
                    </li>
                    <li class="nav-main-item has-dropdown">
                        <a class="nav-main-link" href="javascript:void(0)">
                            管理平台
                            <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="nav-dropdown-menu">
                            <li class="nav-dropdown-item">
                                <a class="nav-main-link" href="/Trisoap_WL/index.php">
                                    倉儲暨物流管理
                                </a>
                            </li>
                            <li class="nav-dropdown-item">
                                <a class="nav-main-link" href="index.php?route=manager">
                                    權限管理
                                </a>
                            </li>
                            <li class="nav-dropdown-item">
                                <a class="nav-main-link" href="index.php?route=item">
                                    商品管理
                                </a>
                            </li>
                            <li class="nav-dropdown-item">
                                <a class="nav-main-link" href="index.php?route=order">
                                    訂單管理
                                </a>
                            </li>
                            <li class="nav-dropdown-item">
                                <a class="nav-main-link" href="index.php?route=discount">
                                    折扣管理
                                </a>
                            </li>
                            <li class="nav-dropdown-item">
                                <a class="nav-main-link" href="index.php?route=member">
                                    查看客戶
                                </a>
                            </li>
                            <li class="nav-dropdown-item">
                                <a class="nav-main-link" href="index.php?route=order&in=create">
                                    建立訂單
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-main-item has-dropdown">
                        <a class="nav-main-link" href="javascript:void(0)">
                            [member_name]，您好
                            <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="nav-dropdown-menu">
                            <li class="nav-dropdown-item">
                                <a class="nav-main-link" href="javascript:void(0)" onclick="memberLogout()">
                                    登出
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
        <main>
            <div class="main-wrap">
                <div id="member-search" class="search-div">
                    <div>
                        <label for="search-basis">搜尋依據</label>
                        <select id="search-basis">
                            <option value="EMAIL">電子信箱</option>
                            <option value="CUSNM">客戶姓名</option>
                            <option value="TEL">聯絡電話</option>
                        </select>
                    </div>
                    <div>
                        <label for="search-value">搜尋關鍵</label>
                        <input type="text" id="search-value" class="form-field">
                        <button class="neural-btn" onclick="memberSearch()">確定</button>
                    </div>
                </div>
                <div class="data-retrieval">
                    <h2>客戶一覽</h2>
                    <table class="rwd-table">
                        <thead>
                            <tr>
                                <th>信箱</th>
                                <th>姓名</th>
                                <th>地址</th>
                                <th>膚質</th>
                                <th>生日</th>
                                <th>聯絡電話</th>
                                <th>如何得知</th>
                                <th>建立時間</th>
                                <th>最後修改時間</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody id="memberShow">
                            [memberShow]
                        </tbody>
                    </table>
                </div>
            </div>
        </main>
