        <main>
            <div class="main-wrap">
                <div class="data-retrieval">
                    <h2>待執行訂單</h2>
                    <table class="rwd-table">
                        <thead>
                            <tr>
                                <th>訂單編號</th>
                                <th>發票編號</th>
                                <th>缺貨狀態</th>
                                <th>訂單狀態</th>
                                <th>付款狀態</th>
                                <th>訂單總額</th>
                                <th>運費</th>
                                <th>實收金額</th>
                                <th>建立日期</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            [orderOperateE]
                        </tbody>
                    </table>
                </div>
            </div>
        </main>
