        <main>
            <div class="main-wrap">
                <div id="discount-search" class="search-div">
                    <div>
                        <label for="search-basis">搜尋依據</label>
                        <select id="search-basis">
                            <option value="ORDNO">訂單編號</option>
                            <option value="EMAIL">顧客信箱</option>
                            <option value="INVOICE">發票號碼</option>
                        </select>
                    </div>
                    <div>
                        <label for="search-value">搜尋關鍵</label>
                        <input type="text" id="search-value" class="form-field">
                        <button class="neural-btn" onclick="orderSearch()">確定</button>
                    </div>
                </div>
                <div class="data-retrieval">
                    <h2>訂單一覽</h2>
                    <table class="rwd-table">
                        <thead>
                            <tr>
                                <th>訂單編號</th>
                                <th>顧客信箱</th>
                                <th>缺貨狀態</th>
                                <th>訂單狀態</th>
                                <th>付款方式</th>
                                <th>訂單金額</th>
                                <th>運費</th>
                                <th>實收金額</th>
                                <th>建立日期</th>
                            </tr>
                        </thead>
                        <tbody id="orderShow">
                            [orderShow]
                        </tbody>
                    </table>
                </div>
            </div>
        </main>
