			<div class="lp-section lp-bg-orange">
				<div class="lp-classic-border">
					<p class="lp-title">
						“一塊皂還藏著這樣的故事！”
					</p>
					<p class="lp-text">
						感謝風傳媒暖心報導
					</p>
				</div>
			</div>
			<div class="lp-section lp-plain-text lp-interlaced-text">
				<p class="lp-title">
					聽聽他們都這樣介紹三三
				</p>
				<p class="lp-text">
					“產品本身天然不刺激，我是敏感性肌膚也使用的很好”
				</p>
				<p class="lp-text">
					“洗起來很舒服，品質很好，和化學沐浴洗髮乳很不一樣的天然感受！”<br>
					“支持公益，以台灣在地為主題，理念一百分！加油！”
				</p>
				<p class="lp-text">
					“宣傳自家產品同時也把在地文化介紹給廣大使用者，很好，也很棒”
				</p>
				<p class="lp-text">
					“產品的設計融入當地特產及文化特色”
				</p>
				<p class="lp-subtitle">
					“有創意的ㄧ群年輕人，結合在地特色及公益團體，賦予傳統手工皂新生命”
				</p>
				<p class="lp-title">
					還不知道三三新概念嗎？
				</p>
			</div>
			<div class="lp-section lp-image-background" id="lp-three-elements">
				<p class="lp-title">
					三三的每樣產品背後都有 3 個元素
				</p>
				<div class="lp-text-cover-light">
					<p class="lp-title lp-text-sep">
						在地小農
					</p>
					<p class="lp-text">
						合作超過20家台灣在地小農<br>
						深入農田傾聽土地聲音。
					</p>
				</div>
				<div class="lp-text-cover-light">
					<p class="lp-title lp-text-sep">
						身障社福
					</p>
					<p class="lp-text">
						合作超過15家台灣身障小作所<br>
						長期培訓與陪伴增加身障朋友就業
					</p>
				</div>
				<div class="lp-text-cover-light">
					<p class="lp-title lp-text-sep">
						社會企業
					</p>
					<p class="lp-text">
						以解決社會問題為出發的商業模式<br>
						創新手法回饋社會。
					</p>
				</div>
			</div>
			<div class="lp-section lp-image-background lp-content-right lp-text-opposite-side" id="lp-img-social-welfare">
				<p class="lp-title">
					陪伴社福身障走一段長遠的路
				</p>
				<p class="lp-text">
					相對於使用大型機器大量生產降低成本，<br>
					三三選擇將花費數個月的心力研發出的特色單品皂，<br>
					將技術完整轉移交給身障學員生產，<br>
					目前合作的日間照顧作業設施(小作所)已多達15間，<br>
					所合作涵蓋在內更多達200位身障學員。<br>
					從認識彼此到培訓、帶活動實作上課程，<br>
					每一個皂一點一滴的累計秤量攪皂入模晾皂，<br>
					看著學員手把手的進步，<br>
					也等同於看見他們又露出自信的笑容。
				</p>
			</div>
			<div class="lp-section lp-certificate">
				<picture>
					<source srcset="resource/img/misc/logo-highlight.svg" type="image/svg+xml">
					<img class="trisoap-logo" src="resource/img/misc/logo-highlight.png" alt="三三吾鄉皂 logo">
				</picture>
				<div class="lp-certificate-content">
					<p class="lp-title">
						“全台灣最多公益小作所指定合作社會企業品牌”
					</p>
					<p class="lp-text">
						兩年多的努力和耕耘，三三集結眾多台灣在地小農和小作所，所服務小作所多達15間，累積超過200位合作身障學員。
					</p>
					<div class="lp-round">
						<p class="lp-title">
							SE
						</p>
						<p class="lp-text">
							經濟部<br>
							社會企業認證
						</p>
					</div>
				</div>
			</div>
			<div class="lp-section lp-image-background lp-content-left lp-text-opposite-side" id="lp-img-peasant-farmer">
				<p class="lp-title">
					和小農成為夥伴
				</p>
				<p class="lp-text">
					相對於使用大型機器耕作的慣行農法，<br>
					帶著有機無毒或自然農法等相關概念，<br>
					規模較小的自耕農稱之為小農。<br>
					為了增加皂的個性以及選取特色農品素材，<br>
					三三和臺灣東部小農成為夥伴，<br>
					親自到農田聽小農說故事和種植理念，<br>
					除了選取三三特色農品研發之外，<br>
					更與小農共同曝光共同行銷，<br>
					將台灣土地情感散播出去。
				</p>
			</div>
			<div class="lp-section lp-bg-orange" id="lp-three-insistence">
				<p class="lp-title">
					三三吾鄉的 3 大堅持
				</p>
				<div class="lp-three-rounds">
					<div class="lp-round">
						<p class="lp-title">
							堅持冷製
						</p>
						<p class="lp-text">
							堅持超過12道手作工序<br>
							33天以上晾皂品質保證
						</p>
					</div>
					<div class="lp-round">
						<p class="lp-title">
							天然植物油
						</p>
						<p class="lp-text">
							採用誠香集認證<br>
							食品級植物油
						</p>
					</div>
					<div class="lp-round">
						<p class="lp-title">
							無化學添加
						</p>
						<p class="lp-text">
							保證無矽靈無防腐劑<br>
							無起泡劑無界面活性劑
						</p>
					</div>
				</div>
			</div>
			<div class="lp-section lp-image-background lp-content-left lp-text-opposite-side" id="lp-img-cold-handmade">
				<p class="lp-title">
					專精冷製手作
				</p>
				<p class="lp-text">
					冷製法是指在手製手工皂過程中<br>
					透過低溫攪製的方式保留植物油營養成分<br>
					12道完整工序<br>
					從秤量到攪拌<br>
					從LT到Trace<br>
					品質管控一點都不馬虎<br>
					就是要帶給消費者每個三三都放心的好產品
				</p>
			</div>
			<div class="lp-section lp-image-background lp-content-right lp-text-opposite-side" id="lp-img-no-chemical">
				<p class="lp-title">
					無化學添加
				</p>
				<p class="lp-subtitle">
					只給你最必要的成分，最單純。
				</p>
				<p class="lp-text">
					X 化學色素染劑<br>
					X 化學防腐劑<br>
					X 化學界面活性劑<br>
					X 矽靈<br>
					X 化學增稠劑<br>
					X 化學起泡劑
				</p>
			</div>
			<div class="lp-section lp-image-background lp-content-left lp-text-opposite-side" id="lp-img-long-time-develop">
				<p class="lp-title">
					比別人多一倍的長時間研發
				</p>
				<p class="lp-text">
					研發一個手工皂配方很簡單，<br>
					可以一天一個新配方，<br>
					一天一份新產品，<br>
					但三三吾鄉花比別人多數倍的時間研發，<br>
					從選品到試驗素材特色，<br>
					配方設計打樣到試用回饋不斷修正，<br>
					儘管品項數量較他牌顯得小，<br>
					但每個品項的配方都是精挑細選。
				</p>
			</div>
			<div class="lp-section lp-plain-text lp-cta">
				<p class="lp-title">
					立即選購
				</p>
				<p class="lp-subtitle">
					立即點選加入購物車，來聽聽每一個皂和你說的故事！
				</p>
				<a class="add-to-cart-link" href="javascript:void(0)" onclick="orderitemCreate('{item_no}')">
					<!-- cart by praveen patchu from the Noun Project -->
					<picture>
						<source srcset="resource/img/product/add_to_cart.svg" type="image/svg+xml">
						<img class="cart-icon" src="resource/img/product/add_to_cart.png" alt="加入購物車">
					</picture>
				</a>
			</div>
