					<div class="product">
						<div class="product-cover">
							<a href="index.php?route=single_product&itemno={item_no}">
								<picture>
									<source srcset="{cover_photo}.webp" type="image/webp">
									<img class="product-cover-img" src="{cover_photo}.jpg" alt="{name}">
								</picture>
							</a>
							<div class="product-add-to-cart">
								<a href="https://www.pinkoi.com/store/trisoap" target="_blank">
								<!-- <a href="javascript:void(0)" onclick="orderitemCreate('{item_no}')"> -->
									<!-- cart by praveen patchu from the Noun Project -->
									<picture>
										<source srcset="resource/img/product/add_to_cart.svg" type="image/svg+xml">
										<img class="cart-icon" src="resource/img/product/add_to_cart.png" alt="加入購物車">
									</picture>
								</a>
							</div>
						</div>
						<div class="product-info">
							<a class="product-link" href="index.php?route=single_product&itemno={item_no}">
								{name}
							</a>
							<span class="product-price">
								NT${price}
							</span>
						</div>
					</div>
