		<footer id="footer">
			<div class="footer-menu">
				<p class="footer-title">
					關於三三
				</p>
				<a class="footer-main-link" href="index.php?route=about">
					三三團隊
				</a>
				<a class="footer-main-link" href="index.php?route=partner">
					合作夥伴
				</a>
				<a class="footer-main-link" href="index.php?route=media">
					媒體報導
				</a>
			</div>
			<div class="footer-menu">
				<p class="footer-title">
					客戶服務
				</p>
				<!-- <a class="footer-main-link" href="index.php?route=faq">
					顧客問答
				</a> -->
				<a class="footer-main-link" href="index.php?route=contact">
					聯絡我們
				</a>
				<a class="footer-main-link" href="index.php?route=customize">
					客製化專區
				</a>
			</div>
			<div class="footer-menu">
				<p class="footer-title">
					三三產品
				</p>
				<a class="footer-main-link" href="index.php?route=soap">
					單品
				</a>
				<a class="footer-main-link" href="index.php?route=soapstring">
					旅用皂絲
				</a>
				<a class="footer-main-link" href="index.php?route=shopping_guide">
					購物須知
				</a>
			</div>
			<div id="company-info" class="footer-menu">
				<p class="footer-title">
					聯絡我們
				</p>
				<p>
					<span class="icon-phone"></span>
					<span class="visuallyhidden">Phone</span>
					<!-- <a class="footer-main-link" href="tel:{company_phone}">
						{company_phone}
					</a> -->
					<a class="footer-main-link" href="tel:0965445755">
						0965445755
					</a>
				</p>
				<p>
					<span class="icon-envelope"></span>
					<span class="visuallyhidden">Email</span>
					<a class="footer-main-link" href="mailto:{company_email}">
						{company_email}
					</a>
				</p>
				<p>
					<span class="icon-map-marker"></span>
					<span class="visuallyhidden">Address</span>
					<!-- {company_address} -->
					台東市豐谷里32鄰梧州街120巷3號3樓
				</p>
			</div>
			<div id="community">
				<a class="footer-main-link" href="https://www.facebook.com/trisoap">
					<span class="icon-facebook"></span>
					<span class="visuallyhidden">Facebook Fanpage</span>
				</a>
				<a class="footer-main-link" href="index.php?route=contact">
					<span class="icon-envelope"></span>
					<span class="visuallyhidden">Contact Us</span>
				</a>
				<a class="footer-main-link" href="https://www.pinkoi.com/store/trisoap">
					Pinkoi
				</a>
			</div>
			<div id="copyright">
				<p>Copyright &copy; 2017 TriSoap All Rights Reserved</p>
			</div>
		</footer>
		<script src="resource/dist/js/jquery-3.2.1.min.js"></script>
