<!DOCTYPE html>
<html lang="zh-Hant-TW">
	<head>
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-89649485-1"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());
			gtag('config', 'UA-89649485-1');
		</script>
		<!-- End gtag.js - Google Analytics -->
		<!-- Facebook Pixel Code -->
		<script>
			!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,document,'script','https://connect.facebook.net/en_US/fbevents.js');fbq('init', '641993712807160');fbq('track', 'PageView');
		</script>
		<noscript>
			<img height="1" width="1" src="https://www.facebook.com/tr?id=641993712807160&ev=PageView&noscript=1"/>
		</noscript>
		<!-- End Facebook Pixel Code -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{title}｜三三吾鄉手工皂 Trisoap</title>
		<meta name="author" content="2017 Trisoap Team">
		<meta name="description" content="{description}">
		<meta name="theme-color" content="#F18C41">
		<meta property="og:title" content="{title}｜三三吾鄉手工皂 Trisoap" >
		<meta property="og:url" content="https://www.trisoap.com.tw">
		<meta property="og:image" content="https://www.trisoap.com.tw/resource/img/index/index01.jpg">
		<meta property="og:description" content="{description}" >
		<link rel="shortcut icon" href="resource/img/misc/favicon.png">
		<link rel="stylesheet" href="resource/icomoon/style.css" async defer>
