<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="resource/img/misc/favicon.png">
    <title>驗證｜三三吾鄉手工皂Trisoap</title>
    <meta name="author" content="2017 Trisoap Team">
    <meta name="description" content="三三是一個社會企業手工皂品牌。協助臺東之喜憨兒社福團體研發，與在地小農合作；融合自然人文，去除多餘添加，活用醜蔬果，綠活創新皂絲體驗。邀您一同創皂，台灣公益的嶄新面貌！">
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href="resource/css/sign.css" rel="stylesheet">
    <script src="resource/custom.js"></script>
</head>

<body>
    <br>
    <div class="sign-block">
        <h1>註冊結果通知</h1>
        <p>您的會員註冊驗證碼已以簡訊方式寄出，煩請您前往確認，並輸入驗證碼。</p>
        <p>驗證碼：</p><input type="text" id="verify"><br>
        <button class="promise" onclick="memberVerify()">確定</button>
        <a href="index.php"><button class="cancel">取消</button></a>
    </div>
</body>

</html>