<nav class="navbar navbar-custom navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" data-toggle="collapse" data-target=".navbar-main-collapse" class="navbar-toggle">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="index.php" class="navbar-brand">
        <!-- Img or text logo-->
        <img src="resource/img/logo.png" alt="" class="logo">
      </a>
    </div>
    <div class="collapse navbar-collapse navbar-main-collapse">
      <ul class="nav navbar-nav navbar-left">
        <li class="hidden"><a href="#page-top"></a></li>
        <li><a href="index.php">首頁</a></li>
        <li><a href="#">關於三三<i class="fa fa-angle-down"></i><span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="index.php?route=about">三三團隊</a></li>
            <li><a href="index.php?route=product_intro">三三堅持</a></li>
            <li><a href="index.php?route=faq">顧客問答</a></li>
            <li><a href="index.php?route=contact">聯絡我們</a></li>
          </ul>
        </li>
        <li><a href="#">三三產品<i class="fa fa-angle-down"></i><span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="index.php?route=moon">中秋禮皂</a></li>
            <li class="dropdown-header">臺東系列產品</li>
            <li><a href="index.php?route=product">單品</a></li>
            <li><a href="index.php?route=soapstring">旅用皂絲</a></li>
            <li><a href="index.php?route=shopping_guide">購物須知</a></li>
          </ul>
        </li>
        <li><a href="index.php?route=trial">試用品申請</a></li>
        <li><a href="index.php?route=heart_message">希望留心語</a></li>
        <li><a href="#">異業合作<i class="fa fa-angle-down"></i><span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="index.php?route=partner">合作夥伴</a></li>
            <li><a href="index.php?route=media">媒體報導</a></li>
          </ul>
        </li>
        [bar_buttons]
      </ul>
    </div>
  </div>
</nav>