<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="resource/img/misc/favicon.png">
    <title>三三臺東意象禮盒組｜三三吾鄉手工皂Trisoap</title>
    <meta name="author" content="2017 Trisoap Team">
    <meta name="description" content="三三是一個社會企業手工皂品牌。協助臺東之喜憨兒社福團體研發，與在地小農合作；融合自然人文，去除多餘添加，活用醜蔬果，綠活創新皂絲體驗。邀您一同創皂，台灣公益的嶄新面貌！">
    <link href="resource/css/bootstrap.min.css" rel="stylesheet">
    <link href="resource/css/trisoap.css" rel="stylesheet">
    <script src="resource/custom.js"></script>
  </head>
  <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top" class="top">

    <!-- Preloader-->
    <div id="preloader">
      <div id="status"></div>
    </div>

    <!-- Navigation-->
    [nav_Homepage]

    <!-- Header-->
    <header data-background="resource/img/product/detail/series.jpg" class="intro introhalf">
      <!-- Intro Header-->
      <div class="intro-body">
        <h1>商品一覽</h1>
        <h4>禮盒</h4>
      </div>
    </header>
    <!-- shop-->
    <section id="shop" class="section-small">
      <div class="container">
        <div class="row">
          <!-- shop carousel-->
          <div id="carousel-shop" class="carousel slide">
            <div class="col-lg-6 carousel-outer">
              <!-- Wrapper for slides-->
              <div class="carousel-inner">
                <div class="item active"><img src="resource/img/product/gift.png" alt=""></div>
                <!-- <div class="item"><img src="" alt=""></div> -->
              </div>
              <!-- Controls-->
              <a href="#carousel-shop" data-slide="prev" class="left carousel-control">
                <span class="icon-prev"></span>
              </a>
              <a href="#carousel-shop" data-slide="next" class="right carousel-control">
                <span class="icon-next"></span>
              </a>
            </div>
            <div class="col-lg-6 slide">
              <h4>三三臺東意象禮盒組</h4>
              <p>
                三三吾鄉，我們的共同原鄉，來自台東最純淨的唯一。
                清風徐過的稻田、翠綠飽滿的釋迦、嬌豔暖橘的金針，融合當地的憨兒手作，三種特色，造就臺東意象禮盒組的經典。
              </p>
              <!-- Indicators-->
              <ol class="carousel-indicators mCustomScrollbar">
                <li data-target="#carousel-shop" data-slide-to="0" class="active"><img src="resource/img/product/gift.png" alt=""></li>
                <!-- <li data-target="#carousel-shop" data-slide-to="1"><img src="" alt=""></li> -->
              </ol>
              <hr>
              <p>
                禮盒內含 / 金絲森林渲染皂一顆 釋迦手感果力皂一顆 田靜山巒禾風皂一顆
                （照片形象擺設僅供參考；實品將以三三獨家設計禮盒包裝）
              </p>
              <table>
                <tr><td><h2 class="no-pad">$900</h2></td><td>&nbsp</td><td><input type="number" id="amount" value="1" max="50" min="1" class="form-control"></td><td>&nbsp</td><td><button class="btn btn-dark" onclick="orderitemCreate('4')">加入購物車</button></td></tr>
              </table>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer Section-->
    [footer_Homepage]

    <!-- jQuery-->
    <script src="resource/js/jquery-1.12.3.min.js"></script>
    <!-- Bootstrap Core JavaScript-->
    <script src="resource/js/bootstrap.min.js"></script>
    <!-- Plugin JavaScript-->
    <script src="resource/js/jquery.easing.min.js"></script>
    <script src="resource/js/jquery.countdown.min.js"></script>
    <script src="resource/js/device.min.js"></script>
    <script src="resource/js/form.min.js"></script>
    <script src="resource/js/jquery.placeholder.min.js"></script>
    <script src="resource/js/jquery.shuffle.min.js"></script>
    <script src="resource/js/jquery.parallax.min.js"></script>
    <script src="resource/js/jquery.circle-progress.min.js"></script>
    <script src="resource/js/jquery.swipebox.min.js"></script>
    <script src="resource/js/smoothscroll.min.js"></script>
    <script src="resource/js/tweecool.min.js"></script>
    <script src="resource/js/wow.min.js"></script>
    <script src="resource/js/jquery.smartmenus.js"></script>
    <!-- Custom Theme JavaScript-->
    <script src="resource/js/pheromone.js"></script>
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </body>
</html>
